<div class="section px-0 pb-0 mt-4">
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <h6 class="text-uppercase text-600 max-w-40">{{ site.data.t.section-cittadini-imprese-title[page.lang] }}</h6>
        <h2 class="max-w-40">{{ site.data.t.section-cittadini-imprese-text[page.lang] }}</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-6 brand">
        <a href="{% link it/progetti/io.md %}" class="gallery-item mb-3 innovation-section-cittadini--io">
          <div class="gallery-item-inner">
            <div class="gallery-item-inner-text">
              <h2>Progetto IO</h2>
              <p>Il progetto per lo sviluppo di IO, l’app dei servizi pubblici</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 web">
        <a href="{% link it/progetti/spid.md %}" class="gallery-item mb-3 innovation-section-cittadini--spid">
          <div class="gallery-item-inner">
            <div class="gallery-item-inner-text">
              <h2>SPID</h2>
              <p>Il sistema unico di Identità Digitale per accedere a tutti i servizi della Pubblica Amministrazione</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 digital">
        <a href="{% link it/progetti/pagopa.md %}" class="gallery-item mb-3 innovation-section-cittadini--pagopa">
          <div class="gallery-item-inner">
            <div class="gallery-item-inner-text">
              <h2>pagoPA</h2>
              <p>Il sistema di pagamenti elettronici per i servizi della Pubblica Amministrazione</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 rened">
        <a href="{% link it/progetti/anpr.md %}" class="gallery-item mb-3 innovation-section-cittadini--anpr">
          <div class="gallery-item-inner">
            <div class="gallery-item-inner-text">
              <h2>ANPR</h2>
              <p>Un’anagrafe unica digitale per tutti i cittadini</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 web">
        <a href="{% link it/progetti/designers-italia.md %}" class="gallery-item mb-3 innovation-section-cittadini--designers-italia">
          <div class="gallery-item-inner">
            <div class="gallery-item-inner-text">
              <h2>Designers Italia</h2>
              <p>La community dei progettisti di servizi pubblici</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 digital">
        <a href="{% link it/progetti/developers-italia.md %}" class="gallery-item mb-3 innovation-section-cittadini--developers-italia">
          <div class="gallery-item-inner">
            <div class="gallery-item-inner-text">
              <h2>Developers Italia</h2>
              <p>La community degli sviluppatori di software open source</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn btn-primary m-1" href="{% link it/innovazione-per-le-imprese.md %}">Innovazione per le imprese</a>
        <a class="btn btn-primary m-1" href="{% link it/innovazione-per-i-cittadini.md %}">Innovazione per i cittadini</a>
      </div>
    </div>
  </div>
</div>
