<div class="row mb-2 mt-2">
  <div class="col-12 col-md-4">
    <div class="card-wrapper card-space card-hero py-2 px-4 px-md-0">
      <div class="card rounded card-bg-primary bg-radial-blue no-after shadow">
        <div class="card-body px-3">
          <a class="d-flex flex-column text-decoration-none h-100" href="{% link _posts/2020-09-28-solidarietà-digitale-al-servizio-della-scuola.md %}">
            <div class="w-100 text-center">
              <h4 class="h3 text-white text-serif font-weight-normal">Solidarietà Digitale</h4>
              <p class="text-white-80 small px-md-5 mb-0">Servizi digitali gratuiti dalle aziende per i cittadini.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card-wrapper card-space card-hero py-2 px-4 px-md-0">
      <div class="card rounded card-bg-primary bg-radial-blue no-after shadow">
        <div class="card-body px-3">
          <a class="d-flex flex-column text-decoration-none h-100" href="{% link _posts/2020-03-20-innova-per-l-Italia-la-tecnologia-e-l-innovazione-in-campo-contro-l-emergenza-covid-19.md %}">
            <div class="w-100 text-center">
              <h4 class="h3 text-white text-serif font-weight-normal">Innova per l’Italia</h4>
              <p class="text-white-80 small px-md-5 mb-0">Tecnologia, ricerca e innovazione contro l’emergenza.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card-wrapper card-space card-hero py-2 px-4 px-md-0">
      <div class="card rounded card-bg-primary bg-radial-blue no-after shadow">
        <div class="card-body px-3">
          <a class="d-flex flex-column text-decoration-none h-100" href="{% link _posts/2020-03-31-nasce-la-task-force-italiana-per-l-utilizzo-dei-dati-contro-l-emergenza-covid-19.md %}">
            <div class="w-100 text-center">
              <h4 class="h3 text-white text-serif font-weight-normal">Taskforce Covid-19</h4>
              <p class="text-white-80 small px-md-5 mb-0">Telemedicina e sistemi di monitoraggio per il contrasto al Covid-19.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
