<div class="it-footer-small-prints clearfix pt-2">
  <section class="container border-cyan border-top">
    <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
      {% for footer-small-print in site.data.t.footer-small-prints[page.lang] %}
      <li class="list-inline-item">
        <a class="list-item font-weight-semibold" href="{{ site.baseurl }}{{ footer-small-print[1].url }}"
           title="{{ footer-small-print[1].name }}">{{ footer-small-print[1].name }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
