<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="{{ site.baseurl }}/{{ page.lang }}/">
                <img class="icon" src="{{ site.baseurl }}{{ site.data.t.icon-repubblica }}" alt="{{ site.data.t.icon-repubblica-alt[page.lang] }}">
                <img class="icon" src="{{ site.baseurl }}{{ site.data.t.icon-main }}"alt="{{ site.icon-main-alt }}" style="width:120px">
                <div class="it-brand-text">
                  <h2>{{ site.data.t.name[page.lang] }}</h2>
                  <h3 class="d-none d-md-block">{{
                    site.data.t.description[page.lang] }}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="mt-4">
        <div class="row">
          <div class="col-md-3">
            <h4 class="text-uppercase">Trasparenza</h4>
            <div class="link-list-wrapper">
              <ul class="pt-2 bt-alpha-2 link-list clearfix">
              {% for footer-trasparenza-contatto in site.data.t.footer-trasparenza[page.lang] %}
                <li class="py-2">
                    <a class="list-item"
                       href="{{ footer-trasparenza-contatto[1].url }}"
                       title="Vai alla pagina: {{ footer-trasparenza-contatto[1].name }}"
                       {% if footer-trasparenza-contatto[1].blank == true %}target="_blank" rel="noopener noreferrer"{% endif %}
                    >
                      {{ footer-trasparenza-contatto[1].name }}
                    </a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col-md-9">
            <h4 class="text-uppercase">Siti web</h4>
            <div class="row">
              <div class="col-md-4">
                <div class="link-list-wrapper">
                  <ul class="pt-2 bt-alpha-2 link-list clearfix">
                    {% for footer-sito-web in site.data.t.footer-siti-web[page.lang].col-1 %}
                    <li class="py-2">
                      <a class="list-item"
                         href="{{ footer-sito-web[1].url }}"
                         title="Vai alla pagina: {{ footer-sito-web[1].name }}"
                         {% if footer-trasparenza-contatto[1].blank == true %}target="_blank" rel="noopener noreferrer"{% endif %}
                      >
                        {{ footer-sito-web[1].name }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="link-list-wrapper">
                  <ul class="pt-2 bt-alpha-2 link-list clearfix">
                    {% for footer-sito-web in site.data.t.footer-siti-web[page.lang].col-2 %}
                    <li class="py-2">
                      <a class="list-item"
                         href="{{ footer-sito-web[1].url }}"
                         title="Vai alla pagina: {{ footer-sito-web[1].name }}"
                         {% if footer-trasparenza-contatto[1].blank == true %}target="_blank" rel="noopener noreferrer"{% endif %}
                      >
                        {{ footer-sito-web[1].name }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="link-list-wrapper">
                  <ul class="pt-2 bt-alpha-2 link-list clearfix">
                    {% for footer-sito-web in site.data.t.footer-siti-web[page.lang].col-3 %}
                    <li class="py-2">
                      <a class="list-item"
                         href="{{ footer-sito-web[1].url }}"
                         title="Vai alla pagina: {{ footer-sito-web[1].name }}"
                         {% if footer-trasparenza-contatto[1].blank == true %}target="_blank" rel="noopener noreferrer"{% endif %}
                      >
                        {{ footer-sito-web[1].name }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% assign footer-contatti-ministero = site.data.t.footer-contatti-ministero[page.lang] %}
      <section class="mt-4">
        <div class="row">
          <div class="col-12">
            <h4 class="text-uppercase">Contatti</h4>
            <div class="row">
              <div class="col-12">
                <h5 class="h6 mb-3">Ministro per l’Innovazione tecnologica e la digitalizzazione</h5>
                <div class="row bt-alpha-2 ">
                {% for footer-contatto in footer-contatti-ministero %}
                  <div class="col-xl-4">
                    <div class="link-list-wrapper">
                      <ul class="pt-2 link-list clearfix">
                        <li class="py-2">
                          <svg class="mr-2 align-top icon icon-sm icon-white">
                            <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ footer-contatto[1].icon }}"></use>
                          </svg>
                          <p class="ml-1 d-inline-block">
                            {{ footer-contatto[1].label }}
                            <br/>
                            <a class="list-item"
                               href="{{ footer-contatto[1].url }}">
                              {{ footer-contatto[1].name }}
                            </a>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </div>
              {% comment %}
              <div class="col-md-6">
                <h5 class="h6 mb-3">Dipartimento per la Trasformazione Digitale</h5>
                <div class="link-list-wrapper">
                  <ul class="pt-2 bt-alpha-2 link-list clearfix">
                    {% for footer-contatto in site.data.t.footer-contatti-dipartimento[page.lang] %}
                    <li class="py-2">
                      <svg class="mr-2 align-top icon icon-sm icon-white">
                        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ footer-contatto[1].icon }}"></use>
                      </svg>
                      <p class="ml-1 d-inline-block">
                        {{ footer-contatto[1].label }}
                        <br/>
                        <a class="list-item"
                           href="{{ footer-contatto[1].url }}">
                          {{ footer-contatto[1].name }}
                        </a>
                      </p>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endcomment %}
            </div>
          </div>
        </div>
      </section>

      {% if site.data.t.social-links[page.lang].size > 0 %}
      <section class="mt-4">
        <div class="row">
          <div class="col">
            <ul class="list-inline text-center social">
              {% for social-link in site.data.t.social-links[page.lang] %}
              <li class="list-inline-item">
                <a class="p-2 text-white" href="{{ site.baseurl }}{{ social-link[1].url }}"
                   aria-label="{{ social-link[1].name }}"
                   title="{{ social-link[1].name }}"
                   {% if footer-trasparenza-contatto[1].blank == true %}target="_blank" rel="noopener noreferrer"{% endif %}
                >
                  <svg class="icon icon-lg icon-white align-top">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ social-link[1].name | downcase }}"></use>
                  </svg>
                  <span class="sr-only">{{ social-link[1].name }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      {% endif %}

    </div>
  </div>
  {% include footer/footer-slim.html %}
</footer>
