*:focus:not(:focus-visible),
.js-focus-visible :focus:not(.focus-visible) :focus:not(.focus--mouse) {
  outline: 0 !important;
  box-shadow: none !important;
  //border: none !important;
}

a.btn-outline-primary:focus {
  box-shadow: inset 0 0 0 2px $primary !important;
  -webkit-box-shadow: inset 0 0 0 2px $primary !important;
}

section.bg-dark a.btn-outline-primary:focus {
  box-shadow: inset 0 0 0 2px #FFF !important;
  -webkit-box-shadow: inset 0 0 0 2px #FFF !important;
}
