.it-header-wrapper {
  z-index: $zindex-fixed;
  position: relative;
  .it-header-center-wrapper {
    .it-header-center-content-wrapper {
      .it-search-wrapper {
        @include media-breakpoint-up(lg) {
          margin-left: 40px;
        }
      }
    }
  }
}
