.mid-tabs-nav {
  border: none;

  .nav-link {
    flex-direction: column;
    text-transform: uppercase;

    &.active {
      background-color: #0066cc;
      color: white;
    }
  }
}
.mid-nav-tabs {
  overflow-x: auto !important;
}

.mid-tabs-pane {
  height: 300px;
}
.mid-tabs-pane-inner {
  height: 100%;
  overflow: auto;
}
