.mid-caption--small {
  font-size: 12px;
}

.mid-caption{
  font-size: 14px;
}

.mid-caption--large{
  font-size: 16px;
}

.mid-caption--xlarge{
  font-size: 18px;
}

.mid-caption--xxlarge{
  font-size: 28px;
}

.mid-numbers {
  font-family: "Roboto Mono Medium";
  font-size: 96px;
}
