._mid-future {
  background-color: #ddebf9;
}

._mid-past {
  background-color: #004080 !important;
}
._mid-past_gradient {
  background-image: linear-gradient(to right, #004080, #0066cc);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev {
  position: absolute;
  left: -90px;
}

.swiper-button-next {
  position: absolute;
  right: -90px;
}

._mid-phase-title {
  height: 65px;
  position: relative;
}

._mid-future_icon {
  transform: rotate(340deg);
}

.it-pin-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 27px;
  left: 37px;
  z-index: 5;

  .pin-icon {
    width: $timeline-pin-circle-size;
    height: $timeline-pin-circle-size;
    border-radius: $timeline-pin-circle-size;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $card-shadow;
    border: $timeline-pin-circle-border;
    margin-right: $v-gap * 2;
    background: #fff;
  }

  svg {
    width: $timeline-pin-size;
    height: $timeline-pin-size;
  }
}
