.video {
  position: absolute;
  top: 20%;
  left: 30%;
}

.video_two_col_icon {
  position: absolute;
  top: 85%;
  left: 84%;
}

@include media-breakpoint-up(md) {
  .video_two_col_icon {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 81%;
    left: 83%;
  }
}

@include media-breakpoint-up(lg) {
  .video_two_col_icon {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 72%;
    left: 82%;
  }
}

.video_two_col_thumbnail {
  max-height: 163px;
  object-fit: cover;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .video_two_col_thumbnail {
    max-height: 360px;
    object-fit: cover;
    width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .video_two_col_thumbnail {
    max-height: 317px;
    object-fit: cover;
    width: 100%;
  }
}

.video_slide {
  position: absolute;
  top: 63%;
  left: 77%;
}

.with_tags{
  position: absolute;
  top: 61%;
  left: 79%;
}

.video_slide_icon {
  position: absolute;
  top: 71%;
  left: 84%;
}

@include media-breakpoint-up(md) {
  .video_slide_icon {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 72%;
    left: 82%;
  }
}

@include media-breakpoint-up(lg) {
  .video_slide_icon {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 63%;
    left: 77%;
  }
}

.video_thumbnail_height {
  max-height: 180px;
  object-fit: cover;
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .video_thumbnail_height {
    max-height: 100%;
  }
}
