.splide__arrow.splide__arrow--prev {
  display: none;
}

.splide__arrow.splide__arrow--next {
  display: none;
}

.splide-slide__text__title {
  color: #0066CC;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
}