.mid-tabs-nav {
  border: none;

  .nav-link {
    flex-direction: column;
    text-transform: uppercase;

    &.active {
      background-color: #0066cc;
      color: white;
    }
  }
}

.mid-tabs-content {
  border-top: 5px solid #0066cc;
  background-color: #E6F2FF;
}
