._mid-logo-size {
  // width: 125px !important;
  max-height: 72px;
}

._mid-republic-logo-size {
  max-height: 72px;
}

.it-brand-wrapper.cloned {
  margin-right: 0;
}

.it-brand-wrapper.cloned img._mid-logo-size {
  margin-right: 0 !important;
}

@include media-breakpoint-only(lg) {
  .it-brand-wrapper.cloned img._mid-logo-size {
    width: 60px !important;
    max-height: 72px;
    margin-right: 8px;
  }

  .it-brand-wrapper.cloned img._mid-republic-logo-size {
    display: none;
  }
}

.it-search-wrapper.cloned {
  margin-left: 0px !important;
}
