.mid-formatted-content {
  blockquote {
    font-weight: 600;
    font-family: "Titillium Web";
    font-size: 1.3em;
    position: relative;

    &:before {
      content: "\201C";
      position: absolute;
      left: 0;
      top: -2rem;
      color: $primary;
      font-size: 2rem;
      font-family: $font-family-serif;

      @include media-breakpoint-up(md) {
        top: -0.8rem;
        left: -2rem;
        font-size: 3rem;
      }
    }
  }
  
  .block-body__small-image{
    @include media-breakpoint-up(md) {
      float: left;
      margin-left: -48px;
      max-width: 50%;
      margin-right: 32px;
    }
  }
}
