.mid-search {
  .datocms-widget__header__inner {
    box-shadow: none;
    border-left: none;
  }
  .datocms-widget__search__input {
    height: auto;
    box-shadow: none;
    @media (min-width: 600px) {
      margin-right: 24px;
    }
  }
  .datocms-widget__header__label {
    // display: none;
  }
  .datocms-widget__search__button {
    background-color: $primary-a6;
    color: white;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.5;

    &:hover {
      color: #cccccc;
      background-color: #0053a6;
    }
  }
  .datocms-widget__result {
    text-align: left !important;
  }
  .datocms-widget__result:hover {
    border-left-color: $primary;
  }
  .datocms-widget__result__title,
  .datocms-widget__pagination__page {
    color: $primary;
  }
  .datocms-widget__result__url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .datocms-widget__no-results {
    display: none;
  }
  .datocms-widget__body {
    min-height: 0;
  }
  .datocms-widget__footer {
    flex-direction: column-reverse;
    align-items: stretch;
    border-top: none;
  }
  .datocms-widget__total {
    text-align: left;
    margin-bottom: 10px;
  }
  .datocms-widget__pagination {
    flex-wrap: wrap;
    display: flex;
  }
  .datocms-widget__pagination__page {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 4px;
    border: none;
    font-size: 0.8888888889rem;
    font-weight: 600;
    color: $secondary;
    background-color: transparent;
    text-decoration: none;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.is-active:focus,
    &.is-active {
      border: 1px solid $primary !important;
      color: $primary;
      pointer-events: none;
    }
    &:hover {
      color: $primary;
    }

    @media (min-width: 576px) {
      height: 2.6666666667rem;
      min-width: 2.6666666667rem;
    }
  }
}
