@media (min-width: 992px) {
  .mid-border-lg-top {
    border-top: 1px solid #e6e9f2 !important;
  }
  .mid-border-lg-right {
    border-right: 1px solid #e6e9f2 !important;
  }
  .mid-border-lg-left {
    border-left: 1px solid #e6e9f2 !important;
  }
}
