.mid-caption--xsmall {
  font-size: 12px;
}

.mid-caption {
  font-size: 14px;
}

.mid-caption--large {
  font-size: 16px;
}

.mid-caption--xlarge {
  font-size: 18px;
}

.mid-caption--xmlarge {
  font-size: 20px;
}

.mid-caption--lead {
  font-size: 24px;
}

.mid-caption--xxlarge {
  font-size: 28px;
}

.mid-caption--xxxlarge {
  font-size: 32px;
}

p a:hover {
  color: #004080;
}