._mid-target {
  position: relative;
}

._mid-target-point {
  position: absolute;
  top: calc(-#{$page-sticky-nav-height} - var(--sticky-header-height) - 12px);
  visibility: hidden;
  pointer-events: none;
}
