.mid-formatted-content {
  blockquote {
    font-weight: 600;
    font-family: "Titillium Web";
    font-size: 1.3em;
    position: relative;
    padding-top: 48px;

    &:before {
      content: "\201C";
      position: absolute;
      left: 0;
      top: -2rem;
      color: $primary;
      font-size: 2rem;
      font-family: "Lora";

      @include media-breakpoint-up(md) {
        top: -0.8rem;
        left: -2rem;
        font-size: 3rem;
      }
    }
  }

  iframe {
    width: 100%;
  }

  .block-body__small-image {
    display: block;

    img {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      display: inline;
      float: left;
      margin-left: -48px;
      max-width: 50%;
      margin-right: 32px;
    }
  }
}
