._mid-target::before {
  display: block;
  content: " ";
  margin-top: calc(-#{$page-sticky-nav-height} - var(--sticky-header-height) - 12px);
  height: calc(#{$page-sticky-nav-height} + var(--sticky-header-height) + 12px);
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
