.mid-tabs-nav {
  border: none;

  .nav-link {
    flex-direction: column;
    text-transform: uppercase;

    &.active {
      background-color: #0066cc;
      color: white;
    }
  }
}
.mid-nav-tabs {
  overflow-x: auto !important;
}

.mid-tabs-content {
  // border-top: 5px solid #0066cc;
  // background-color: #e6f2ff;
  // height: 650px;
}
.mid-tabs-pane {
  // height: 100%;
  height: 500px;
}
