.mid-footer-link:not(.disabled) {
  color: $analogue-2 !important;
  font-weight: 600;
  text-decoration: underline;
}

.mid-footer-link:not(.disabled):hover {
  color: white !important;
  text-decoration: underline;
}

.icon-footer-links {
  fill: $analogue-2 !important;
}