.link-list-wrapper.menu-link-list h3:after, .link-list-wrapper.menu-link-list h4:after {
  background-color: #06C;
}

.sticky-top {
  top: var(--sticky-header-height, 0);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #06C;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}