.swiper-container {
}

.fixed-height {
  height: 400px;
  z-index: 3;
}

.swiper-wrapper {
}

.swiper-slide {
  height: 100%;
  position: relative;

  img {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    object-fit: contain;
    object-position: center;
  }
}

.swiper-slide__image {
  background-color: grey;
  height: 50%;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.swiper-slide__text {
  color: #33485C;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 25px 0;
}

.swiper--text {
  .swiper-slide__text {
    border-bottom: 3px solid #0066CC;
    height: 100%;
  }
}

.swiper-slide__text__title {
  color: #0066CC;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  height: 16px;
  margin: 0 20px;
  width: 16px;

  &:last-child {
    margin-right: none;
  }
}
