<form action="https://a0x0b4.emailsp.com/frontend/subscribe.aspx"
      class="needs-validation" novalidate>
  <div class="mt-4">
    <div class="form-group col-md-6">
      <input aria-required="true" class="js-newsletter-email form-control" id="email" name="email"
             placeholder="Inserisci il tuo indirizzo email" required
             type="email">
      <label for="email">Email *</label>
      <small class="form-text text-muted">Inserendo il tuo indirizzo email stai accettando la nostra <a href="{% link it/privacy-policy-designers-italia-developers-italia.md %}">informativa sul trattamento dei dati personali per la newsletter</a>.</small>
    </div>
    <input name="list" type="hidden" value="1">
  </div>
  <button class="js-newsletter-submit btn btn-primary mt-3" type="submit" disabled>Iscriviti</button>
</form>
