ruby:
  btn_url ||= nil
  color_class ||= "btn-primary"
  text_case ||= "text-uppercase"
  label ||= t("view_more")
  white_outline ||= nil
  aria_label ||= ""
  composed_arialabel = t("button_aria_label", topic: aria_label, cta: label)

- border = white_outline ? "box-shadow: inset 0 0 0 2px white" : ""

- if btn_url.present?
  = proxy_link_to label,
    page_path(btn_url),
    class: "btn #{text_case} #{color_class}",
    style: border,
    "aria-label": composed_arialabel
