ruby:
  milestones ||= []
  phases ||= phases
  milestones = phases.map {|p| p.milestones}.flatten
  phase_1 = phases.first
  phase1_idx = phase_1.milestones.size
  phase_2 = phases[1] ? phases[1] : nil
  phase2_idx = phase_2 ? phase_2.milestones.size + phase1_idx : nil
  phase_3 = phases[2] ? phases[2] : nil
  phase3_idx = phase_3 ? phase_3.milestones.size + phase2_idx : nil
  start_idx_array = [0, phase1_idx, phase2_idx, phase3_idx]
  cols = case milestones.size
          when 1
            4
          when 2
            6
          when 3
            8
          else
            10
          end

.row.justify-content-lg-center
  div class="col-lg-#{cols}"
    .swiper style="overflow:hidden;"
      .swiper-container-calendar data-slides="#{milestones.size}"
        .swiper-wrapper
          - milestones.each_with_index do |milestone, index|
            .swiper-slide
              ruby:
                phase = case
                  when index < phase1_idx
                    phase_1
                  when index < phase2_idx
                    phase_2
                  else
                    phase_3
                  end
                  show_title = start_idx_array.include?(index)
              = partial "partials/card-calendar",
                locals: {milestone: milestone,
                phase: phase,
                show_phase_title: show_title}
        svg.icon.icon-lg.icon-primary.swiper-button-prev
          use xlink:href="/images/sprite.svg#it-arrow-left-circle"
        svg.icon.icon-lg.icon-primary.swiper-button-next
          use xlink:href="/images/sprite.svg#it-arrow-right-circle"
