- article ||= nil

- if article.present?
  ruby:
    larger_of_two ||= nil
    show_item_type ||= nil
    length_image = "col-lg"
    length_card = "col-lg"

    if larger_of_two
      length_image = "col-lg-3"
      length_card = "col-lg-9"
    end

    if article.respond_to?(:image_thumbnail) && article.image_thumbnail.present?
      image_link = article.image_thumbnail.url
      card_image = article.image_thumbnail
      image_src = card_image.url(w: 700,
        h: 400,
        fit: "crop",
        auto: "compress")

      image_mobile_srcset = "#{card_image.url(w: 445,
        h: 255,
        fit: 'crop',
        auto: 'compress')} 480w,
        #{card_image.url(w: 700,
        h: 400,
        fit: 'crop',
        auto: 'compress')} 719w"

      image_desk_srcset =
        if larger_of_two
          "#{card_image.url(w: 160,
            h: 500,
            fit: 'crop',
            auto: 'compress')} 1200w,
            #{card_image.url(w: 200,
            h: 400,
            fit: 'crop',
            auto: 'compress')} 1320w"
        else
          "#{card_image.url(w: 452,
            h: 400,
            fit: 'crop',
            auto: 'compress')} 1200,
            #{card_image.url(w: 564,
            h: 400,
            fit: 'crop',
            auto: 'compress')} 1320w"
        end
    end

  .card.rounded.shadow-lg.h-100.d-flex.flex-column-reverse.flex-lg-row-reverse
    div class="#{length_card}"
      .card-body.h-100.d-flex.flex-column
        div
          .category.py-2.card-text
            - if show_item_type
              span.pr-4.text-uppercase.font-weight-semibold
                = t("models.#{article.item_type.api_key}")
            span.text-secondary
              = partial "partials/formatted-date",
                locals: {date: article.date_shown}
          h3 class="h3 text-primary"
            = proxy_link_to page_path(article),
              class: "text-decoration-none"
              = article.title
          p.body-text
            = article.subtitle
        .mt-auto.d-flex.flex-wrap-reverse.flex-row-reverse.align-items-end
          - if article.item_type.api_key == "article" && article.tags.present?
            - article.tags.each do |tag|
              = partial "partials/chip",
                locals: {label: tag.name,
                url: page_path(tag),
                chip_type: "",
                btn_type: "",
                chip_size: ""}

    - if image_link.present?
      .img-responsive-wrapper.p-0 class="#{length_image}"
        .d-lg-none
          .img-responsive.img-responsive-panoramic
            figure.img-wrapper.p-0
              = proxy_image_tag placeholder_url(card_image, {w: 10, h: 6,
                fit: "crop"}),
                data: {sizes: "100vw",
                  src: image_src,
                  srcset: image_mobile_srcset},
                class: "lazyload d-block w-100 m-0",
                alt: card_image.alt

        .d-none.d-lg-block
          .img-responsive-panoramic
            figure.position-absolute.w-100.h-100
              = proxy_image_tag placeholder_url(card_image, {w: 10, h: 6,
                fit: "crop"}),
                data: {sizes: "100vw",
                  src: image_src,
                  srcset: image_desk_srcset},
                class: "lazyload d-block w-100 h-100 m-0",
                style: "object-fit: cover",
                alt: card_image.alt
