- element ||= nil

- if element.present?
    ruby:
      title ||= "fake"
      description ||=""
      number ||= nil
      image_icon ||= nil
      hide_shadow ||= nil
      shadow = hide_shadow ? "" : "shadow-lg"
      margin_bottom ||= nil
      mBottom = margin_bottom ? "mb-3" : ""
    .card.card-teaser.rounded class="#{mBottom} #{shadow}"
      .card-body
        h5.card-title.text-primary
          = element.title
        div.card-text.text-secondary
          span = element.description
      h5.card-title.text-primary.pt-2
        = "#{element.number}%"
      .img-responsive-wrapper.pt-2
          .icon.text-primary.ml-3
            figure
              = proxy_image_tag element.image_icon.lqip_data_url(w: 10,
                h: 6,
                fit: "crop"),
                  data: {"sizes": "100vw",
                    "src": element.image_icon.url(w: 400,
                      h: 400,
                      fit: "crop",
                      auto: "compress"),
                    "srcset": "#{element.image_icon.url(w: 330,
                        h: 330,
                        fit: 'crop',
                        auto: 'compress')} 480w,
                      #{element.image_icon.url(w: 333,
                        h: 333,
                        fit: 'crop',
                        auto: 'compress')} 632w,
                      #{element.image_icon.url(w: 333,
                        h: 333,
                        fit: 'crop',
                        auto: 'compress')} 844w,
                      #{element.image_icon.url(w: 400,
                        h: 400,
                        fit: 'crop',
                        auto: 'compress')} 1091w,
                      #{element.image_icon.url(w: 200,
                        h: 200,
                        fit: 'crop',
                        auto: 'compress')} 1320w,
                      #{element.image_icon.url(w: 245,
                        h: 245,
                        fit: 'crop',
                        auto: 'compress')} 1400w"},
                  class: "lazyload d-block w-100",
                  alt: element.image_icon.alt
