ruby:
  items ||= nil
  large_title ||= nil
  medium_title ||= nil
  hide_image ||= nil
  hide_tags ||= nil
  show_item_type ||= nil
  title ||= ""
  special_subtitle ||= nil
  unequal_height ||= nil
  hide_shadow ||= nil
  title_is_anchor ||= nil

- if items.present?
  - cols = items.size > 1 ? items.size : 2

  - if title.present?
    .pt-5.pb-4.pb-lg-0
      = partial "partials/section-title",
        locals: {title: title, is_anchor: title_is_anchor}

  div class="row row-cols-lg-#{cols} mt-log-3"
    - items.each do |item|
      ruby:
        card_partial = ""
        takes_article_card = if (item.item_type.api_key == "article" ||
          item.item_type.api_key == "press_release") ||
          (item.item_type.api_key == "interview" ||
          item.item_type.api_key == "participation")
          true
        end
        if item.item_type.api_key == "announcement"
          card_partial = partial "partials/card-avvisi-pubblici",
            locals: {announcement: item,
            hide_shadow: hide_shadow}
        elsif takes_article_card
          card_partial = partial "partials/card",
            locals: {article: item,
            large_title: large_title,
            medium_title: medium_title,
            special_subtitle: special_subtitle,
            hide_image: hide_image,
            unequal_height: unequal_height,
            show_item_type: show_item_type,
            hide_shadow: hide_shadow,
            hide_tags: hide_tags}
        end

      div class="d-none d-lg-block col-lg-#{12 / cols} mt-lg-3"
        = card_partial

    .col-12.d-lg-none.mt-4.mt-lg-3
      = partial "partials/text-gallery-carousel",
        locals: {items: items, show_item_type: show_item_type}

    .col-lg-12
      .my-5.pb-4.pb-lg-4.text-center
        = partial "partials/button", locals: {btn_url: btn_url,
          aria_label: (title.present? ? title : "Notizie")}
