ruby:
  announcement ||= nil
  hide_shadow ||= nil

- if announcement.present?
  ruby:
    shadow = hide_shadow ? "" : "shadow-lg"
    closing_date = announcement.announcement_date_closing.present?
    status = announcement.announcement_status.name
    last_date = partial "partials/formatted-date",
      locals: {date: announcement.announcement_date_closing}

    date =
      if !closing_date
        ""
      elsif status == "APERTO"
        "Scade il #{last_date}"
      elsif announcement.show_date_after_closed && status == "CHIUSO"
        "Chiuso il #{last_date}"
      end

  .card.rounded.h-100 class="#{shadow}"
    .card-body
      .mid-caption.text-uppercase.fw-semibold.pb-3
        = announcement.announcement_status.name
      h3.mid-caption--xlarge.text-primary.fw-bold.pb-2
        = proxy_link_to page_path(announcement),
          class: "text-decoration-none"
          = announcement.title
      p.mid-caption--large.text-secondary.fw-semibold
        = date
