- article ||= nil

- if article.present?
  ruby:
    hide_image ||= nil
    hide_shadow ||= nil
    hide_tags ||= nil
    large_title ||= nil
    medium_title ||= nil
    show_item_type ||= nil
    special_subtitle ||= nil
    unequal_height ||= nil
    show ||= nil
    status ||= nil
    last_date ||= nil
    image = ""
    image_link = ""
    title_style = ""
    subtitle_style = ""
    shadow = hide_shadow ? "" : "shadow-lg"
    height = unequal_height ? "" : "h-100"

    show_art_img = !hide_image && article.respond_to?(:image_cover)
    if show_art_img && article.image_cover.present?
      image = "no-after"
      image_link = article.image_cover
    end

    show_thumbnail = !hide_image && article.respond_to?(:image_thumbnail)
    if show_thumbnail && article.image_thumbnail.present?
      image = "no-after"
      image_link = article.image_thumbnail
    end

    if article.respond_to?(:announcement_date_closing) &&
      article.announcement_date_closing.present?
        show = article.show_date_after_closed
        status = article.announcement_status.name
        last_date = partial "partials/formatted-date",
          locals: {date: article.announcement_date_closing}
    end

    subtitle =
      if article.respond_to?(:subtitle) && article.subtitle.present?
        article.subtitle
      elsif status && status == "APERTO"
        "Scade il #{last_date}"
      elsif show && status == "CHIUSO"
        "Chiuso il #{last_date}"
      end

    if large_title
      title_style = "h2"
    elsif medium_title
      title_style = "h5 fw-bold"
    else
      title_style = "mid-caption--xlarge fw-bold"
      subtitle_style = "mid-caption--large"
    end

  .card.rounded class="#{image} #{height} #{shadow}"
    - if image_link.present?
      - if large_title
        - lg_image_url = image_link.url(w: 700,
          h: 400,
          fit: "crop",
          auto: "compress")
        - xl_image_url = image_link.url(w: 700,
          h: 400,
          fit: "crop",
          auto: "compress")
      - else
        - lg_image_url = image_link.url(w: 360,
          h: 226,
          fit: "crop",
          auto: "compress")
        - xl_image_url = image_link.url(w: 590,
          h: 385,
          fit: "crop",
          auto: "compress")

      .img-responsive-wrapper
        .img-responsive
          figure.img-wrapper
            = proxy_image_tag placeholder_url(image_link, {w: 10,
              h: 6,
              fit: "crop"}),
              data: {sizes: "100vw",
                src: image_link.url(w: 700,
                    h: 400,
                    fit: "crop",
                    auto: "compress"),
                srcset: "#{image_link.url(w: 450,
                    h: 330,
                    fit: 'crop',
                    auto: 'compress')} 480w,
                  #{image_link.url(w: 600,
                    h: 333,
                    fit: 'crop',
                    auto: 'compress')} 632w,
                    #{image_link.url(w: 560,
                      h: 333,
                      fit: 'crop',
                      auto: 'compress')} 844w,
                    #{image_link.url(w: 700,
                      h: 400,
                      fit: 'crop',
                      auto: 'compress')} 1091w,
                  #{lg_image_url} 1320w,
                  #{xl_image_url} 1400w"},
              class: "lazyload d-block w-100",
              alt: image_link.alt

    .card-body.d-flex.flex-column
      div
        - if show_item_type
          .category.pb-3.card-text
            span.pe-2.text-uppercase.fw-semibold
              = t("models.#{article.item_type.api_key}")
            span.px-2.text-secondary
              = partial "partials/formatted-date",
                locals: {date: article.date_shown}
        - else
          p.card-text.text-secondary
            = partial "partials/formatted-date",
              locals: {date: article.date_shown}
        h3.h4.text-primary class="#{title_style}"
          = proxy_link_to page_path(article),
            class: "text-decoration-none"
            = article.title
        - source = article.respond_to?(:source) && article.source.present?
        - if special_subtitle && source
          p.h6.pt-3
            = article.source
        - elsif subtitle
          p.pt-2 class="#{subtitle_style}"
            = subtitle
      .mt-auto.d-flex.flex-wrap-reverse.flex-row-reverse.align-items-end
        - tags = article.tags.present?
        - if !hide_tags && tags
          - article.tags.each do |tag|
            = partial "partials/chip",
              locals: {label: tag.name,
              url: page_path(tag),
              chip_type: "",
              btn_type: "",
              chip_size: ""}
