- element ||= nil

- if element.present?
  .card.rounded.text-center
    .card-body
      h4.card-title.text-primary.mb-0.h5.font-weight-bold
        = element.title
      .card-text.text-secondary.pt-0.pb-3
        span = element.description
    .card-title.text-primary.mid-huge-numbers.font-weight-semibold
      = "#{element.number}%"
    .img-responsive-wrapper.text-center.py-4
        .icon.mid-icon-large-x.text-primary.mx-auto
          figure.mb-0
            - image = element.image_icon
            = proxy_image_tag placeholder_url(image, {w: 64,
              h: 64,
              fit: "crop"}),
                data: {sizes: "100vw",
                  src: element.image_icon.url(w: 400,
                    h: 400,
                    fit: "crop",
                    auto: "compress"),
                  srcset: "#{element.image_icon.url(w: 330,
                      h: 330,
                      fit: 'crop',
                      auto: 'compress')} 480w,
                    #{element.image_icon.url(w: 333,
                      h: 333,
                      fit: 'crop',
                      auto: 'compress')} 632w,
                    #{element.image_icon.url(w: 333,
                      h: 333,
                      fit: 'crop',
                      auto: 'compress')} 844w,
                    #{element.image_icon.url(w: 400,
                      h: 400,
                      fit: 'crop',
                      auto: 'compress')} 1091w,
                    #{element.image_icon.url(w: 200,
                      h: 200,
                      fit: 'crop',
                      auto: 'compress')} 1320w,
                    #{element.image_icon.url(w: 245,
                      h: 245,
                      fit: 'crop',
                      auto: 'compress')} 1400w"},
                class: "lazyload d-block w-100",
                alt: element.image_icon.alt
