ruby:
  item ||= nil
  padding = "p-lg-0"
  logo_length = ""

- if item.present?
  ruby:
    # Sort what an item is
    is_focus = item.item_type.api_key == "focus_page"
    is_video = item.item_type.api_key == "video"
    is_project = item.item_type.api_key == "project"
    is_work_position = item.item_type.api_key == "work_position"
    is_completed_project = if (is_project && !item.state_block.empty?) &&
      item.state_block.first.completed == true
      true
    end

    # Deal with dates
    date = ""
    closing_date = ""
    show_date = item.respond_to?(:date_shown) && item.date_shown.present?
    closing_date_present = if item.respond_to?(:announcement_date_closing) &&
      item.announcement_date_closing.present?
      true
    end

    if page_show_update_date_in_preview?(item) && show_date
      date = partial "partials/formatted-date", locals: {date: item.date_shown}
    end

    # Deal with images
    placeholder = if item.respond_to?(:placeholder_image) &&
      (item.placeholder_image.present? && item.use_placeholder_image)
      true
    end
    logo_url = ""
    if item.respond_to?(:image_project_logo) && item.image_project_logo.present?
      logo_url = item.image_project_logo
      logo_length = "col-4 col-md-2 px-lg-0"
      padding = "ps-lg-4 pe-lg-0"
    elsif item.respond_to?(:video)
      id = item.video.provider_uid
      youtube_thumb = "https://i.ytimg.com/vi/#{id}/maxresdefault.jpg"
      logo_url = placeholder ? item.placeholder_image : youtube_thumb
      logo_length = "col-4 col-md-2 px-lg-0"
      padding = "ps-lg-4 pe-lg-0"
    end

    # Style/ classes
    type = ""
    txt_date = "text-secondary"
    txt_title = is_video ? "d-block text-primary text-truncate" : "text-primary"
    txt_subtitle = is_video ? "text-secondary text-truncate" : "text-secondary"
    card_classes = "p-lg-0"
    video_img_style = "max-width:100%; object-fit:scale-down; max-height:120px"
    video_lg_img_style = "max-width:100%; object-fit:cover; height: 100%"

    if is_focus
      type = "text-white"
      txt_date = "text-white"
      txt_title = "text-white"
      txt_subtitle = "text-white"
      card_classes = "bg-primary rounded"
      padding = "p-3"
    end

    if is_work_position
      card_classes = "lightgrey-bg-a3 rounded"
      padding = "ps-4 pt-4 pe-4 pb-2"
    end

  - if logo_url.present?
    .d-lg-none
      div class="#{logo_length}"
        .img-responsive-wrapper
          figure.mb-0.mt-3
            - if is_video && !placeholder
              = link_to page_path(item),
                aria_label: t("video.go_to_video"),
                title: "video: #{item.title}"
                = image_tag logo_url,
                  style: video_img_style,
                  class: "lazyload d-block"
            - elsif is_video && placeholder
              = link_to page_path(item),
                aria_label: t("video.go_to_video"),
                title: "video: #{item.title}"
                = proxy_image_tag placeholder_url(logo_url, {w: 10,
                    h: 10,
                    fit: "max"}),
                  data: {sizes: "100vw",
                    src: logo_url.url(w: 120,
                      h: 120,
                      fit: "max", auto: "compress"),
                    srcset: "#{logo_url.url(w: 120,
                        h: 120,
                        fit: 'max',
                        auto: 'compress')} 480w,
                      #{logo_url.url(w: 155,
                        h: 250,
                        fit: 'max',
                        auto: 'compress')} 632w"},
                  style: video_img_style,
                  class: "lazyload d-block",
                  alt: logo_url.alt,
                  title: logo_url.title
            - else
              = proxy_image_tag placeholder_url(logo_url, {w: 10,
                h: 10,
                fit: "max"}),
                data: {sizes: "100vw",
                  src: logo_url.url(w: 120,
                     h: 120,
                     fit: "max",
                     auto: "compress"),
                  srcset: "#{logo_url.url(w: 120,
                    h: 120,
                    fit: 'max',
                    auto: 'compress')} 480w,
                  #{logo_url.url(w: 155,
                    h: 250,
                    fit: 'max',
                    auto: 'compress')} 632w"},
                style: video_img_style,
                class: "lazyload d-block",
                alt: logo_url.alt,
                title: logo_url.title

  .d-lg-flex.mb-lg-4
    - if logo_url.present?
      .d-none.d-lg-block class="#{logo_length}"
        .img-responsive-wrapper.p-lg-0.m-0

          - if is_video && !placeholder
            = link_to page_path(item),
              aria_label: t("video.go_to_video"),
              title: "video: #{item.title}"
              figure style="height: 100px;"
                = image_tag logo_url,
                  style: video_lg_img_style,
                  class: "lazyload d-block"
          - elsif is_video && placeholder
            = link_to page_path(item),
              aria_label: t("video.go_to_video"),
              title: "video: #{item.title}"
              figure style="height: 100px;"
                = proxy_image_tag placeholder_url(logo_url, {w: 10,
                    h: 10,
                    fit: "max"}),
                  data: {sizes: "100vw",
                    src: logo_url.url(w: 120,
                      h: 120,
                      fit: "max", auto: "compress"),
                    srcset: "#{logo_url.url(w: 120,
                        h: 120,
                        fit: 'max',
                        auto: 'compress')} 480w,
                      #{logo_url.url(w: 155,
                        h: 250,
                        fit: 'max',
                        auto: 'compress')} 632w"},
                  style: video_lg_img_style,
                  class: "lazyload d-block",
                  alt: logo_url.alt,
                  title: logo_url.title
          - else
            figure
              = proxy_image_tag placeholder_url(logo_url, {w: 10,
                  h: 10,
                  fit: "max"}),
                data: {sizes: "100vw",
                  src: logo_url.url(w: 120,
                    h: 120,
                    fit: "max", auto: "compress"),
                  srcset: "#{logo_url.url(w: 120,
                      h: 120,
                      fit: 'max',
                      auto: 'compress')} 480w,
                    #{logo_url.url(w: 155,
                      h: 250,
                      fit: 'max',
                      auto: 'compress')} 632w"},
                style: video_img_style,
                class: "lazyload d-block",
                alt: logo_url.alt

    .card.mb-2.m-lg-0.p-lg-0
      .card-body.px-0.py-2.p-lg-0.m-lg-0 class=card_classes
        .col-12 class="#{padding}"
          .category.pb-2.card-text

            - if is_work_position && item.respond_to?(:announcement_status)
              .d-flex.justify-content-between
                .pe-2.text-uppercase.fw-semibold class="#{type}"
                  = t("models.#{item.item_type.api_key}")
                div
                  - state = item.announcement_status.name
                  - status_color = state == "APERTO" ? "text-open" : ""
                  - status = state[-1] === "O" ? "#{state[0..-2]}A" : state
                  div
                    .d-none.d-md-inline-block.pe-2
                      = t("work_position.search_state")
                    span.fw-bold class="#{status_color}"
                      = status
            - else
              span.pe-2.text-uppercase.fw-semibold class="#{type}"
                - pre_title = t("models.#{item.item_type.api_key}")
                - completed = is_completed_project ? " #{t('concluded')}" : ""
                = "#{pre_title}#{completed}"
              span.px-2 class="#{txt_date}"
                = date

              - if !is_work_position && item.respond_to?(:announcement_status)
                span.px-4.px-md-2 class="#{txt_date} fw-bold"
                  = item.announcement_status.name

          h3 class="h5 fw-semibold"
            = link_to page_path(item),
              class: "#{txt_title} text-decoration-none"
              = item.title

          - if item.respond_to?(:subtitle) && item.subtitle.present?
            p.mid-caption--large.pb-0.mb-0 class="#{txt_subtitle}"
              = item.subtitle

          - if item.respond_to?(:source) && item.source.present?
            .h6.pb-0 = item.source

          - if is_work_position
            .py-3.pt-md-3
              = link_to page_path(item),
                class: "text-primary text-uppercase mid-caption fw-bold text-decoration-none"
                div.d-flex.align-items-center
                  = t("work_position.discover")
                  span
                    svg.icon.icon-sm.icon-primary.ms-2
                      use xlink:href="/images/sprite.svg#it-arrow-right"
