ruby:
  article ||= nil
  card_body = %(card-body d-flex flex-column
    justify-content-between mt-n5)

- if article.present?
  .card-wrapper
    .card.card-img.no-after.rounded.shadow-lg
      .img-responsive-wrapper
        .img-responsive
          figure.img-wrapper.h-75
            - image = article.image_thumbnail
            = proxy_image_tag placeholder_url(image, {w: 10,
              h: 6,
              fit: "crop"}),
                data: {sizes: "100vw",
                  src: article.image_thumbnail.url(w: 700,
                    h: 400,
                    fit: "crop",
                    auto: "compress"),
                  srcset: "#{article.image_thumbnail.url(w: 450,
                      h: 330,
                      fit: 'crop',
                      auto: 'compress')} 480w,
                    #{article.image_thumbnail.url(w: 600,
                      h: 333,
                      fit: 'crop',
                      auto: 'compress')} 632w,
                    #{article.image_thumbnail.url(w: 560,
                      h: 333,
                      fit: 'crop',
                      auto: 'compress')} 844w,
                    #{article.image_thumbnail.url(w: 700,
                      h: 400,
                      fit: 'crop',
                      auto: 'compress')} 1091w,
                    #{article.image_thumbnail.url(w: 320,
                      h: 200,
                      fit: 'crop',
                      auto: 'compress')} 1320w,
                    #{article.image_thumbnail.url(w: 400,
                      h: 245,
                      fit: 'crop',
                      auto: 'compress')} 1400w"},
                class: "lazyload d-block w-100",
                alt: article.image_thumbnail.alt

      div class=card_body style="z-index: 2;"
        div
          h3.h5.fw-bold.text-primary.card-title
            = proxy_link_to article.link_medium.link,
              class: "text-decoration-none"
              = article.title
          .mid-caption--large.fw-semibold.mt-2
            = article.author
        .my-2
        .d-flex.flex-wrap-reverse.flex-row-reverse.align-items-end
          - if article.tags.present?
            - article.tags.each do |tag|
              = partial "partials/chip",
                locals: {label: tag.name,
                url: page_path(tag),
                chip_type: "",
                btn_type: "",
                chip_size: ""}
