ruby:
  chip_size ||= "chip-lg"
  chip_type ||= "chip-primary"
  btn_type ||= "btn-outline-primary"
  text_color ||= ""
  bg_color ||= ""
  default = "chip chip-simple mb-2 ms-1 me-1 mt-1 text-decoration-none"
  border = text_color == "text-white" ? "border-white" : ""
  classes = [default,
    chip_size,
    bg_color,
    chip_type,
    btn_type,
    border].join(" ")

  label ||= nil
  url ||= nil

- if label.present? && url.present?
  = link_to url,
    class: classes,
    "aria-label": t("chip_aria_label", topic: label)

    span.chip-label.text-nowrap class=(text_color)
      = label
