ruby:
  title ||= nil
  large ||= "mid-caption--large"
  inline ||= "d-block"
  classes ||= ""
  default_classes = "mid-caption text-uppercase fw-semibold mb-2"
  merged_classes = [
    default_classes,
    inline,
    large,
    classes
  ].join(" ")

- if title.present?
  span> class=merged_classes
    = title
