meta charset="utf-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta [name="viewport"
      content="width=device-width,minimum-scale=1,maximum-scale=5"]
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-capable" content="yes"
meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width"

- if ENV["ASSET_PROXY_BASE"]
  link rel="dns-prefetch" href=ENV["ASSET_PROXY_BASE"]
  link rel="prefetch" href=ENV["ASSET_PROXY_BASE"]

link [
  rel="preload"
  href="/fonts/TitilliumWeb-Regular.woff2"
  as="font"
  crossorigin=true]

link [
  rel="preload"
  href="/fonts/TitilliumWeb-Light.woff2"
  as="font"
  crossorigin=true]

link [
  rel="preload"
  href="/fonts/TitilliumWeb-SemiBold.woff2"
  as="font"
  crossorigin=true]

link [
  rel="preload"
  href="/fonts/TitilliumWeb-Bold.woff2"
  as="font"
  crossorigin=true]

link [
  rel="preload"
  href="/images/logo-mitd-white.svg"
  as="image"
  crossorigin=true]

link [
  rel="preload"
  href="/images/logo-repubblica-italiana.svg"
  as="image"
  crossorigin=true]

link [
  rel="preload"
  href="/images/sprite.svg"
  as="image"
  crossorigin=true]

- if ENV["BUILD_ENV"] != "production"
  meta name="robots" content="noindex, nofollow"

= yield_content :head
= stylesheet_link_tag "styles"

link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"
link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"
link rel="manifest" href="/site.webmanifest"
link [rel="mask-icon"
  href="/safari-pinned-tab.svg"
  color="#{data.config.safari_pinned}"]

meta [name="msapplication-TileColor"
  content="#{data.config.msapplication_tilecolor}"]

meta name="theme-color" content="#{data.config.theme_color}"

- localized_paths_for(current_page).each do |locale, path|
  - complete_path = [base_url, path].join

  link rel="alternate" hreflang=locale href=complete_path
  - if locale && main_locale?(locale)
    link [
      rel="alternate"
      hreflang="x-default"
      href=complete_path]
