.swiper
  .swiper-container.fixed-height.fixed-width.shadow-lg
    .swiper-wrapper.h-100
      - slides.each do |slide|
        .swiper-slide.fixed-width
          .swiper-slide__image
            - if slide.image_thumbnail
              - image = slide.image_thumbnail
              = proxy_image_tag placeholder_url(image, {w: 10, h: 6,
                  fit: "fillmax"}), data: {sizes: "100vw",
                  src: slide.image_thumbnail.url(w: 700, h: 400,
                  fit: "fillmax", auto: "compress"),
                  srcset: "#{slide.image_thumbnail.url(w: 450, h: 330,
                  fit: 'fillmax', auto: 'compress')} 480w,
                  #{slide.image_thumbnail.url(w: 600, h: 333,
                  fit: 'fillmax', auto: 'compress')} 632w,
                  #{slide.image_thumbnail.url(w: 560, h: 333,
                  fit: 'fillmax', auto: 'compress')} 844w,
                  #{slide.image_thumbnail.url(w: 700, h: 400,
                  fit: 'fillmax', auto: 'compress')} 1091w,
                  #{slide.image_thumbnail.url(w: 320, h: 200,
                  fit: 'fillmax', auto: 'compress')} 1320w,
                  #{slide.image_thumbnail.url(w: 400, h: 245,
                  fit: 'fillmax', auto: 'compress')} 1400w"},
                class: "lazyload d-block w-100",
                alt: slide.image_thumbnail.alt,
                title: slide.image_thumbnail.title

          .swiper-slide__text.h-50.px-3.bg-white
            - if slide.title
              h4.swiper-slide__text__title.pb-2
                = proxy_link_to slide.title,
                  page_path(slide),
                  class: "text-decoration-none"

            - if slide.subtitle
              .swiper-slide__text__subtitle = slide.subtitle
  .swiper-pagination.mt-4
