ruby:
  group_classes = "d-inline-flex align-items-center"
  element_classes = "d-block mx-2"

div class=group_classes
  - if page.twitter_url.present?
    = link_to page.twitter_url,
      class: element_classes,
      target: "_blank",
      rel: "noopener",
      aria: {label: t("socials.twitter")}
      svg.icon.icon-sm.icon-primary [
        focusable="false"
        aria-label="#{t("go_to")} #{t("socials.twitter")}"
      ]
        use xlink:href="/images/sprite.svg#it-twitter"

  - if page.facebook_url.present?
    = link_to page.facebook_url,
      class: element_classes,
      target: "_blank",
      rel: "noopener",
      aria: {label: t("socials.facebook")}
      svg.icon.icon-sm.icon-primary [
        focusable="false"
        aria-label="#{t("go_to")} #{t("socials.twitter")}"
      ]
        use xlink:href="/images/sprite.svg#it-facebook"

  - if page.instagram_url.present?
    = link_to page.instagram_url,
      class: element_classes,
      target: "_blank",
      rel: "noopener",
      aria: {label: t("socials.instagram")}
      svg.icon.icon-sm.icon-primary [
        focusable="false"
        aria-label="#{t("go_to")} #{t("socials.twitter")}"
      ]
        use xlink:href="/images/sprite.svg#it-instagram"
