- if page.respond_to?(:image_cover) && page.image_cover.present?
  figure
    = proxy_image_tag page.image_cover.lqip_data_url(w: 10, h: 4,
      fit: "crop"), data: {"sizes": "100vw",
        "src": page.image_cover.url(w: 2500, h: 750,
          fit: "crop", auto: "compress"),
        "srcset": "#{page.image_cover.url(w: 480, h: 350,
          fit: 'crop', auto: 'compress')} 480w,
        #{page.image_cover.url(w: 719, h: 350,
          fit: 'crop', auto: 'compress')} 719w,
        #{page.image_cover.url(w: 1023, h: 450,
          fit: 'crop', auto: 'compress')} 1023w,
        #{page.image_cover.url(w: 1500, h: 550,
          fit: 'crop', auto: 'compress')} 1500w,
        #{page.image_cover.url(w: 1920, h: 650,
          fit: 'crop', auto: 'compress')} 1920w,
        #{page.image_cover.url(w: 2500, h: 750,
          fit: 'crop', auto: 'compress')} 2500w"},
      class: "lazyload d-block w-100",
      alt: page.image_cover.alt,
      title: page.image_cover.title

    - if page.image_cover_description.present?
      figcaption.figure-caption.my-3.text-center
        = page.image_cover_description
