- if page.respond_to?(:image_cover) && page.image_cover.present?
  ruby:
    title = ""
    if page.image_cover.respond_to?(:title) && page.image_cover.title.present?
      title = page.image_cover.title
    end

  figure
    - image = page.image_cover
    = proxy_image_tag placeholder_url(image, {w: 10, h: 4,
      fit: "crop"}), data: {sizes: "100vw",
        src: page.image_cover.url(w: 2500, h: 750,
          fit: "crop", auto: "compress"),
        srcset: "#{page.image_cover.url(w: 480, h: 350,
          fit: 'crop', auto: 'compress')} 480w,
        #{page.image_cover.url(w: 719, h: 350,
          fit: 'crop', auto: 'compress')} 719w,
        #{page.image_cover.url(w: 1023, h: 450,
          fit: 'crop', auto: 'compress')} 1023w,
        #{page.image_cover.url(w: 1500, h: 550,
          fit: 'crop', auto: 'compress')} 1500w,
        #{page.image_cover.url(w: 1920, h: 650,
          fit: 'crop', auto: 'compress')} 1920w,
        #{page.image_cover.url(w: 2500, h: 750,
          fit: 'crop', auto: 'compress')} 2500w"},
      class: "lazyload d-block w-100",
      alt: page.image_cover.alt,
      title: title

    ruby:
      description = if page.respond_to?(:image_cover_description) &&
        page.image_cover_description.present?
        true
      end
    - if description
      figcaption.figure-caption.my-3.text-center
        = page.image_cover_description
