.dropdown.d-none.d-lg-block.mb-5
  button [
      id="dropdownMenuLink"
      class=["p-0",
        "text-capitalize",
        "btn btn-dropdown",
        "dropdown-toggle"].join(" ")
      aria-expanded="false"
      aria-haspopup="true"
      data-bs-toggle="dropdown"
      type="button"
    ]
    = t("share")
    svg.icon-expand.icon.icon-sm.icon-primary [
        focusable="false"
      ]
      use xlink:href="/images/sprite.svg#it-expand"

  .dropdown-menu aria-labelledby="dropdownMenuLink"
    .link-list-wrapper
      ul.link-list
        - sharable_socials.each do |social|
          li
            button [
              class="btn text-capitalize text-primary fw-normal social-share"
              data-sharer=social
              data-url=page_complete_url(page)
              data-width="800"
              data-height="600"
              data-to=""
              data-title=(page.respond_to?(:title) ? page.title : "")
            ]
              = social
