ruby:
  item ||= nil
  cols ||= ""
  placeholder ||= nil
  icon_classes ||= "video_two_col_icon"
  add_mb ||= nil
  extra_mb = add_mb ? "mb-5" : ""
  placeholder = if item.respond_to?(:placeholder_image) &&
    (item.placeholder_image.present? && item.use_placeholder_image)
    true
  end

- if item
  div class="#{cols} #{extra_mb}"
    .d-lg-none.my-4.pt-4.text-center
      p.ms-lg-4.mid-caption.text-secondary
        = partial "partials/formatted-date",
          locals: {date: item.date_shown}
      h2.ms-lg-4.h4.text-primary.mt-2g
        = link_to page_path(item),
          class: "text-decoration-none"
          = item.title
    = link_to page_path(item)
      .img-responsive-wrapper
        svg.bg-white.icon.icon-primary.rounded.p-1 class=icon_classes
          use xlink:href="/images/sprite.svg#it-video"
        figure.mb-0

          ruby:
            id = item.video.provider_uid
            youtube_thumb = "https://i.ytimg.com/vi/#{id}/maxresdefault.jpg"
            thumbnail = placeholder ? item.placeholder_image : youtube_thumb

          - if placeholder
            = proxy_image_tag placeholder_url(thumbnail, {w: 10,
              h: 10,
              fit: "crop"}),
              data: {sizes: "100vw",
                src: thumbnail.url(w: 700,
                   h: 400,
                   fit: "crop",
                   auto: "compress"),
                srcset: "#{thumbnail.url(w: 450,
                    h: 330,
                    fit: 'crop',
                    auto: 'compress')} 480w,
                  #{thumbnail.url(w: 600,
                    h: 333,
                    fit: 'crop',
                    auto: 'compress')} 632w,
                    #{thumbnail.url(w: 560,
                      h: 333,
                      fit: 'crop',
                      auto: 'compress')} 844w,
                    #{thumbnail.url(w: 700,
                      h: 400,
                      fit: 'crop',
                      auto: 'compress')} 1091w,
                    #{thumbnail.url(w: 700,
                      h: 400,
                      fit: 'crop',
                      auto: 'compress')} 1320w,
                    #{thumbnail.url(w: 700,
                      h: 400,
                      fit: 'crop',
                      auto: 'compress')} 1440w"},
              class: "video_two_col_thumbnail lazyload d-block",
              alt: thumbnail.alt,
              title: thumbnail.title

          - else
            = image_tag thumbnail,
              class: "video_two_col_thumbnail lazyload d-block"
