<section class="manifesto" id="manifesto">
  <h1  class="text-center">Il Manifesto dei nostri principi tecnologici e operativi</h1>
  <ul class="my-5 mx-md-5">
    <li class="my-4 lead">1. Sicurezza e privacy sono i principi più importanti; mai, per nessuna ragione, scenderemo a compromessi</li>
    <li class="my-4 lead">2. Valorizzeremo gli asset esistenti; non ricostruiremo quanto di positivo è già stato realizzato nella Pubblica Amministrazione italiana e ci ispireremo anche a modelli internazionali funzionanti</li>
    <li class="my-4 lead">3. Saremo ossessionati dalla semplificazione; tutto quello che faremo sarà facile da utilizzare per i cittadini</li>
    <li class="my-4 lead">4. Penseremo e progetteremo con un approccio “mobile first”</li>
    <li class="my-4 lead">5. Valuteremo e sfrutteremo le tecnologie open source</li>
    <li class="my-4 lead">6. Seguiremo moderni modelli di progettazione; utilizzeremo architetture service oriented, sicure, “elastiche” e altamente affidabili</li>
    <li class="my-4 lead">7. Ci baseremo costantemente su dati; applicheremo algoritmi di Machine Learning e tecniche di Intelligenza Artificiale, quando necessari per risolvere problemi complessi</li>
    <li class="my-4 lead">8. Saremo aperti e trasparenti; pubblicheremo documenti che illustrino quello che abbiamo costruito, le decisioni prese, gli errori commessi e i benefici che abbiamo rilevato</li>
    <li class="my-4 lead">9. Avremo una visione di lungo termine, ma identificheremo anche le tappe intermedie che ci permetteranno di offrire rapidamente valore ai cittadini italiani</li>
    <li class="my-4 lead">10. Cultura informatica e competenze digitali sono requisiti essenziali di cittadinanza; investiremo nella loro promozione e lotteremo contro ogni forma di analfabetismo digitale</li>
    <li class="my-4 lead">11. Continueremo ad imparare; non ci limiteremo a questi principi e ne aggiungeremo di nuovi</li>
  </ul>

  <div class="row">
    <div class="col col-xs-12 text-center">
      <img src="{{ site.baseurl }}/assets/images/logo-mid-blue-full.svg" alt="Logo MID" width="300" />
    </div>
  </div>
</section>
