<div class="card-wrapper card-space">
  <div class="card card-bg">
    <div class="card-body">
      {% comment %}
      <div class="head-tags">
        <div class="d-flex justify-content-end w-100">
          {% assign medium_post_date = medium_post.medium_published_at | divided_by: 1000 | date: site.data.t.FormatDate[page.lang] %}
          <span class="data">{% include date.html date=medium_post_date %}</span>
        </div>
      </div>
      <img src="https://cdn-images-1.medium.com/fit/t/480/160/{{ medium_post.medium_preview_image_id }}" class="img-responsive w-100" alt="{{ medium_post.medium_title }}">
      {% endcomment %}
      <h5 class="card-title big-heading mt-3">{{ medium_post.medium_title }}</h5>
      <div class="card-text">{{ medium_post.medium_subtitle }}</div>
      <a class="read-more" href="{{ medium_post.medium_url }}" target="_blank" rel="noopener noreferrer">
        <span class="text">{{ site.data.t.read-more[page.lang] }} su Medium</span>
        <svg class="icon">
          <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-external-link"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
