{% comment %} meta_image_social ->path completo dell'immagine utilizzata per i social media {% endcomment %}
{%- capture meta_image_social -%}
{% comment %} Dichiaro var per il check sotto {% endcomment %}
{% assign asset_is_img = page.asset | slice: 1, 4 | strip %}

{% comment %} Se esiste un'immagine associata alla pagina(tag image), viene usata anche per i social {% endcomment %}
{%- if page.image -%}
{{ site.url | append: page.image }}
{% comment %} Se è definita un'immagine specifica per i social(tag social_image), viene usata quella {% endcomment %}
{%- elsif page.social_image -%}
{{ site.url | append: page.social_image }}
{% comment %} Il post contiene una immagine nell'asset {% endcomment %}
{%- elsif asset_is_img == 'img' -%}
{% assign post_img = page.asset | split:"src=" %}
{% assign post_img_src = post_img[1] | split:" " %}
{% assign post_img_src_to_strip = post_img_src[0] | remove: '"' %}
{% assign post_img_src_stripped = post_img_src_to_strip | strip %}
{{ site.url | append: post_img_src_stripped }}
{% comment %} Non c'è una immagine, si passa quella di default {% endcomment %}
{%- else -%}
{{ site.url | append: site.data.meta.social-card }}
{%- endif -%}
{%- endcapture -%}