{% assign project = content %}
<div class="col-sm-6 col-md-4 col-lg-3 text-center">
  <div class="it-grid-item-wrapper it-grid-item-overlay">
    <a href="{{ project.external_ref | default: project.url }}">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper">
            <picture>
              <source srcset="{{ site.baseurl }}/assets/images/projects/inspirational/{{ project.ref }}.webp" type="image/webp">
              <source srcset="{{ site.baseurl }}/assets/images/projects/inspirational/{{ project.ref }}.jpg" type="image/jpeg">
              <img class="project-image" src="{{ site.baseurl }}/assets/images/projects/inspirational/{{ project.ref }}.jpg" alt="{{ project.title }}">
            </picture>
          </div>
        </div>
      </div>
      <div class="it-griditem-text-wrapper">
        <span class="it-griditem-text">{{ project.title }}</span>
      </div>
    </a>
  </div>
  <div class="my-3 mx-5">
  {% if project.title != project.title_full %}<p class="x-small">{{ project.title_full }}</p>{% endif %}
  </div>
</div>
