{% assign t = site.data.t %}
{% assign same_lang_pages = site.pages | where: "lang", page.lang %}
{% assign projects_pages_sorted = same_lang_pages | where: "layout", "page-project"  %}

{% for project in projects_pages_sorted | sort %}
  {% if include.category %}
    {% if project.categories contains include.category %}
      {% include projects-list-project.html content = project %}
    {% endif %}
  {% else %}
    {% include projects-list-project.html content = project %}
  {% endif %}
{% endfor %}
