<section class="section bg-radial-blue pt-0">
  <div class="container py-5 text-white">
    <div class="row">
      <div class="col col-lg-10">
        <h2 class="mt-4" id="come-aderire">Come si aderisce</h2>
        <p>Ogni amministrazione, impresa o organizzazione, per far parte dell’alleanza di Repubblica Digitale, deve inviare la domanda di adesione al Manifesto, impegnandosi a realizzare entro i successivi dodici mesi almeno un’iniziativa coerente con i principi del Manifesto e a promuovere l’adesione al Manifesto da parte di altri enti e cittadini.</p>
        <p>Le iniziative devono essere inviate attraverso il modulo attivabile su questa pagina e seguendo le istruzioni associate. Le iniziative, che saranno valutate dalla segreteria organizzativa sulla coerenza al Manifesto, possono essere relative:</p>
        <ul>
          <li>all’alfabetizzazione digitale di base (sia in ambito scolastico che di istruzione agli adulti) e in generale al superamento del divario digitale culturale; </li>
          <li>allo sviluppo di competenze digitali per il lavoro (nei cosiddetti percorsi di skilling, upskilling e reskilling);</li>
          <li>all’educazione alle tecnologie emergenti e in generale alla diffusione della cultura digitale.</li>
        </ul>
        <p>Possono essere proposte per l’adesione anche più iniziative, con invii separati. </p>
        <div class="text-center w-100 my-5">
          <a class="btn btn-outline-light" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLSerfb-oJkGwn1lB2GO8aqVODxxqEdlqZyjYg7udv9pgvGiVcQ/viewform">Aderisci al Manifesto</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-10">
        <h2 class="mt-4" id="come-partecipare">Come partecipare</h2>
        <p>Anche i cittadini possono partecipare all’iniziativa con una “buona azione” di inclusione e solidarietà finalizzata a accompagnare una o più persone al corretto utilizzo degli strumenti di cittadinanza digitale e, in generale, a vivere in maniera consapevole, sicura e sostenibile l’ecosistema digitale.</p>
        <p>Ad esempio, si potrà raccontare a qualcuno in fila in un ufficio pubblico che gli stessi adempimenti possono essere fatti attraverso lo smartphone, aiutare qualcuno a richiedere un’identità digitale o precompilare online la dichiarazione dei redditi o, ancora, a fare un pagamento attraverso pagoPA. Sono centinaia le <b>buone azioni di inclusione digitale</b> che ciascuno di noi può fare nel proprio quotidiano e non è neppure detto che debba trattarsi sempre e comunque di utilizzare un servizio pubblico digitale.</p>
        <p>Raccontare ai più giovani - che con un’espressione decettiva chiamiamo “nativi digitali” - cosa c’è dietro all’app che utilizzano tutti i giorni o come funziona, per davvero, internet o che i contenuti che pubblicano online sono destinati a restarci per sempre, sono, egualmente, buone azioni che valgono a promuovere l’uso più consapevole del digitale nel nostro Paese.</p>
        <p>Nessun obbligo, nessun dovere, nessuna formalità: perché la solidarietà digitale rappresenta semplicemente il contributo di ciascuno a rendere migliore il nostro Paese.</p>
        <p>Per condividere la propria iniziativa di “Repubblica digitale”, chi vorrà potrà raccontare attraverso i propri canali social la sua azione di solidarietà digitale aggiungendo l’hashtag <i>#RepubblicaDigitale</i> e inserendo un link a questa pagina. Un modo semplice per far parte di questa alleanza, e invitare altre persone a fare lo stesso</p>
      </div>
    </div>
  </div>
</section>
