<div class="iniziative-mid container">
  <div class="row">
    <div class="col col-lg-10 small">
      <h2 class="mt-5 mb-3" id="iniziative-mid">Le iniziative promosse dal MID</h2>
    </div>
    <div class="col-12">
      <div class="row">

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card-wrapper card-space">
            <div class="card card-iniziative my-2 no-after shadow rounded">
              <div class="card-body">
                <div class="row">
                  <div class="col-8 d-flex">
                    <p class="text-serif align-self-center mb-0">Ministro per l’Innovazione tecnologica e la digitalizzazione</p>
                  </div>
                  <div class="col-4 text-right">
                    <img src="/assets/images/logo-mid-blue.svg" alt="Logo MID" class="mb-2 img-logo"/>
                  </div>
                </div>
                <div>
                  <h6 class="card-title my-3" style="font-size: 16px;">Il sabato del futuro</h6>
                  <a class="read-more" href="https://docs.italia.it/italia/mid/piano-nazionale-innovazione-2025-docs/it/stabile/piano-d-azione/A18-il-sabato-del-futuro.html" target="_blank">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card-wrapper card-space">
            <div class="card card-iniziative my-2 no-after shadow rounded">
              <div class="card-body">
                <div class="row">
                  <div class="col-8 d-flex">
                    <p class="text-serif align-self-center mb-0">Ministro per l’Innovazione tecnologica e la digitalizzazione</p>
                  </div>
                  <div class="col-4 text-right">
                    <img src="/assets/images/logo-mid-blue.svg" alt="Logo MID" class="mb-2 img-logo"/>
                  </div>
                </div>
                <div>
                  <h6 class="card-title my-3" style="font-size: 16px;">Un anziano, un tablet e un sorriso per l’inclusione digitale</h6>
                  <a class="read-more" href="https://docs.italia.it/italia/mid/piano-nazionale-innovazione-2025-docs/it/stabile/piano-d-azione/A19-un-anziano-un-tablet.html" target="_blank">
                    <span class="text">Leggi di più</span>
                    <svg class="icon">
                      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
