<div class="container">
  <div class="row">
    <div class="col text-center repubblica-digitale-header">
      <img alt="Repubblica Digitale Logo"
           height="300" src="{{ site.baseurl }}/assets/images/repubblica-digitale/repubblica-digitale-logo-squared-2x.png" width="300"/>
      <h4>una, accessibile e consapevole</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 small">
      <h2>L’obiettivo di Repubblica Digitale</h2>
      <p>I servizi pubblici digitali devono essere inclusivi e accessibili per
        tutti, nessuno escluso. Il rischio, in caso contrario, è che la
        trasformazione digitale finisca con l’avvantaggiare solamente i
        cittadini già digitalmente più educati e consapevoli – e con lo
        svantaggiare gli altri che, in Italia, sono ancora milioni.</p>
      <p>Repubblica Digitale è l’iniziativa strategica nazionale promossa dal
        Dipartimento per la trasformazione digitale della Presidenza del
        Consiglio dei ministri con l’obiettivo di combattere il divario digitale
        di carattere culturale presente nella popolazione italiana, per
        sostenere la massima inclusione digitale e favorire l’educazione sulle
        tecnologie del futuro, accompagnando il processo di trasformazione
        digitale del Paese.</p>
      <p>
        Nel quadro della strategia “Italia 2025”, l’iniziativa mira a:
      </p>
      <ul>
        <li>ridurre il fenomeno dell’analfabetismo digitale a dimensioni almeno
          simili a quelle presenti nei Paesi europei di riferimento, favorendo
          lo
          sviluppo delle competenze digitali necessarie dei lavoratori;
        </li>
        <li>incrementare significativamente la percentuale di specialisti ICT
          esperti nelle tecnologie emergenti raggiungendo i livelli di molti
          altri paesi europei
        </li>
      </ul>
      <p>
        L’iniziativa si articola in una serie di attività svolte in collaborazione con altri soggetti pubblici e privati.
      </p>
    </div>
    <div class="col-12 col-lg-4">
      <nav class="navbar it-navscroll-wrapper navbar-expand-lg it-bottom-navscroll it-left-side">
        <button class="custom-navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNav"><span class="it-list"></span>Menu</button>
        <div class="navbar-collapsable" id="navbarNav">
          <div class="overlay"></div>
          <div class="close-div sr-only">
            <button class="btn close-menu" type="button">Chiudi</button>
          </div>
          <a class="it-back-button" href="#"><svg class="icon icon-sm icon-primary align-top"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use></svg><span>Indietro </span></a>
          <div class="menu-wrapper">
            <div class="link-list-wrapper">
              <h3 class="no_toc">Menu</h3>
              <ul class="link-list">
                <li class="nav-item active">
                  <a class="nav-link" href="#perche"><span>Perché</span></a>
                  <a class="nav-link" href="#linee-d-azione"><span>Le linee d’azione</span></a>
                  <a class="nav-link" href="#chi"><span>Chi</span></a>
                  <a class="nav-link" href="#dati"><span>I dati</span></a>
                  <a class="nav-link" href="#iniziative-mid"><span>Le iniziative promosse dal MID</span></a>
                  <a class="nav-link" href="#iniziative-aderenti"><span>Le iniziative aderenti al Manifesto</span></a>
                  <a class="nav-link" href="#manifesto"><span>Il Manifesto</span></a>
                  <a class="nav-link" href="#come-aderire"><span>Come si aderisce</span></a>
                  <a class="nav-link" href="#come-partecipare"><span>Come partecipare</span></a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-10 small">
      <h2 class="mt-4" id="perche">Perché</h2>
      <p>I principali indicatori nazionali e internazionali relativi all’area dell’economia e della società digitale (ad esempio il DESI della Commissione UE, gli indicatori sull’eGovernment e sull’education dell’OCSE) mostrano che l’Italia è penalizzata in modo significativo nella crescita digitale da una carenza di competenze digitali nella popolazione, che influenza negativamente:</p>
      <ul>
        <li>la possibilità di esercitare i diritti di cittadinanza e la partecipazione consapevole al dialogo democratico;</li>
        <li>l’adeguatezza delle competenze richieste dal mondo del lavoro (ormai la quasi totalità dei lavori richiede l’uso di tecnologie digitali);</li>
        <li>la capacità del Paese di disporre di competenze per i nuovi mercati e i nuovi lavori, in gran parte correlate alle tecnologie emergenti.</li>
      </ul>
      <p>La carenza di competenze digitali nei diversi ambiti, per cui l’Italia risulta tra i Paesi europei più in difficoltà, diventa così una delle principali zavorre per lo sviluppo del Paese, assumendo i caratteri di una vera e propria emergenza. </p>
      <p>In particolare, le carenze nell’ambito delle competenze di base penalizzano in modo notevole la possibilità di diffusione dei servizi digitali privati e pubblici. Infatti, perché la trasformazione digitale del Paese riesca a produrre i risultati auspicati, è indispensabile che tutti i cittadini possano effettivamente accedere e utilizzare in maniera consapevole i nuovi servizi e strumenti di cittadinanza digitale. Al contrario, le barriere e i divari culturali e educativi che caratterizzano il nostro Paese impediscono a molti cittadini di beneficiare delle nuove opportunità messe a loro disposizione.</p>
      <p>La mancanza di competenze digitali, oltre che sulla vita privata dei cittadini, ha un impatto anche sulla loro occupabilità. Lo <i>Skills Outlook Scoreboard</i> dell’OCSE analizza le competenze digitali per l’economia del futuro e l’Italia si posiziona tra gli ultimi posti nella graduatoria.<br/>Tra tutti, il dato più allarmante è quello che riguarda i lavoratori ad alto rischio di automazione: solo il 20% beneficia di formazione continua, mentre ben il 40% dei lavoratori impegnati in professioni a basso rischio di automazione ha accesso a corsi di aggiornamento.
      </p>
      <p><i>Repubblica Digitale</i> offre una risposta strategica nazionale a questo problema, con la convinzione che il successo può essere raggiunto soltanto <b>mettendo in rete le esperienze</b>, le competenze e il contributo di tutti i settori e tutte le componenti del nostro Paese. </p>
      <h2 class="mt-4" id="linee-d-azione">Le linee di azione</h2>
      <p>Repubblica Digitale privilegia l’approccio multistakeholder (settore pubblico, imprese, società civile). L’obiettivo è creare un’”alleanza” di soggetti pubblici e privati, che abbia come punto di riferimento il Manifesto di Repubblica Digitale e che operi come una comunità di co-progettazione, condivisione e collaborazione. In questo quadro, il Ministro per l’innovazione tecnologica e la trasformazione digitale (MiD) ha un ruolo di coordinamento e promozione di azioni specifiche, in sinergia con altri ministeri e amministrazioni.</p>
      <p>Repubblica Digitale si sviluppa su cinque principali linee di azione:</p>
      <ol>
        <li><b>attivare, supportare, rafforzare, valorizzare iniziative locali e nazionali per lo sviluppo delle competenze per la cittadinanza digitale nei territori e nelle scuole</b>, anche con azioni specifiche promosse dal MiD come l’azione “Un tablet e un sorriso per gli anziani”;</li>
        <li><b>fornire ai cittadini gli strumenti di auto-sviluppo delle competenze digitali</b>, con la realizzazione di una palestra digitale, per la condivisione di materiali realizzati nelle diverse iniziative in quanto strumenti di supporto allo sviluppo delle competenze digitali (kit di auto-valutazione, ebook, corsi online, agenda iniziative ed eventi...);</li>
        <li><b>attivare, supportare, rafforzare, valorizzare iniziative locali e nazionali per skilling, upskilling e reskilling</b>, anche con azioni come “Il sabato del futuro”;</li>
        <li><b>comunicare l’importanza delle competenze digitali e della cultura digitale</b>, anche con la realizzazione di azioni con la Rai; l’organizzazione giornata nazionale sulle competenze digitali con eventi, iniziative e manifestazioni in tutto il territorio; l’organizzazione di un contest/premio annuale sulle migliori iniziative di Repubblica Digitale;</li>
        <li><b>coordinare l’iniziativa, monitorare l’evoluzione del fenomeno e l’efficacia delle politiche di intervento</b>, anche tramite la costituzione dell’osservatorio sulle competenze e il divario digitale.</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-10 small">
      <h2 class="mt-4" id="chi">Chi</h2>
      <p><i>Repubblica Digitale</i> propone l’idea che accompagnare la trasformazione digitale del Paese con azioni di carattere educativo, divulgativo e culturale costituisca <b>un dovere civico comune</b> per lo Stato, per le imprese e per i singoli cittadini. Per questo tutte le componenti della società, a partire dai media, dalla scuola e dalla famiglia, possono contribuire in maniera determinante al superamento dei divari che, attualmente, dividono il Paese.</p>
      <p>Vogliamo costruire un’alleanza quanto più ampia possibile tra enti e organizzazioni pubblici e privati e cittadini basata esclusivamente sul comune riconoscimento di alcuni principi e sulla comune volontà di affrontare con determinazione e spirito etico un problema comune.</p>
      <p>Ogni amministrazione, impresa, associazione e ogni singolo cittadino, insieme e autonomamente, possono fare la differenza con azioni e gesti semplici, concreti, efficaci e capaci di accompagnare nell’ecosistema digitale chi, per ragioni diverse, non vi è ancora arrivato.</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12 small">
      <h2 class="mt-4" id="dati">I dati</h2>
      {% include dashboard.html %}
    </div>
  </div>
</div>
