ruby:
  html_class ||= "btn btn-primary me-2"
  label ||= nil
  case label.present?
  when true
    aria_cta = cta_label(item)
  when false
    aria_cta = if item.cta_label.present?
                 item.cta_label
               else
                 t("link_labels.go_to_website")
               end
  end

  label ||= cta_label(item)

= proxy_link_to label,
  item.link,
  class: html_class,
  target: "_blank",
  rel: "noopener",
  "aria-label": "#{item.title}: (Link esterno) #{aria_cta}"
