ruby:
  html_class ||= "btn btn-primary mr-2"

  aria_cta = case locals.respond_to?(:label)
             when true
               cta_label(item)
             when false
               t("link_labels.go_to_website")
             end

  label ||= cta_label(item)

= proxy_link_to label,
  item.link,
  class: html_class,
  target: "_blank",
  rel: "noopener",
  "aria-label": "#{item.title}: (Link esterno) #{aria_cta}"
