ruby:
  html_class ||= "btn btn-primary me-2"
  label ||= cta_label(item)
  white_outline ||= nil
  border = white_outline ? "box-shadow: inset 0 0 0 2px white" : ""

= proxy_link_to label,
  page_path(item.link),
  class: html_class,
  style: border
