- html_class ||= "btn btn-primary mr-2"
- aria_cta = label.present? ? cta_label(item) : t("link_labels.go_to_website")
- label ||= cta_label(item)

= proxy_link_to label,
  item.link,
  class: html_class,
  target: "_blank",
  rel: "noopener",
  "aria-label": "#{item.title}: (Link esterno) #{aria_cta}"
