<div class="image-item">
  <img src="{{ site.baseurl }}/assets/images/press/logo-mid.jpg" class="img-fluid w-100" alt="Immagine del logo MID" />
  <a href="{{ site.baseurl }}/assets/images/press/logo-mid.zip" download>
    <div class="d-flex flex-row px-2 pt-4">
      <svg class="icon icon-lg icon-white">
        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
      </svg>
      <div class="text-white pl-3">
        <h5>Logo del Ministro per l’innovazione tecnologica e la digitalizzazione</h5>
        <p>File .zip con immagini vettoriali e ad alta risoluzione</p>
      </div>
    </div>
  </a>
</div>
