<div class="media mt-5">
  <svg class="icon icon-lg icon-primary">
    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
  </svg>
  <div class="media-body ml-3">
    <h6 class="text-uppercase font-weight-normal">#data</h6>
    <a class="title-link" href="#" target="_blank">
      <h4>#titolo</h4>
    </a>
    <a class="d-flex flex-row mt-3" href="#" target="_blank">
      <h6 class="text-primary text-uppercase mr-2">scarica</h6>
      <svg class="icon icon-sm icon-primary">
        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
      </svg>
    </a>
  </div>
</div>
