- content_for(:head)
  == proxy_dato_meta_tags(page)

- nav_pages = visible_fl_pages(dato.department_subpages).push(dato.focus_index)

= partial "partials/headers/header-basic",
  locals: {page: page,
    classes: "lightgrey-bg-a2",
    image_top_mobile: true,
    subs: nav_pages} do
      = content_for :aside
        .d-flex.justify-content-center.d-lg-block
          .col-6.px-0
            .img-responsive-wrapper
              figure
                - image = page.logo
                = proxy_image_tag placeholder_url(image, {w: 10,
                  h: 10,
                  fit: "max"}),
                  data: {sizes: "100vw",
                    src: page.logo.url(w: 230,
                    h: 460,
                    fit: "max", auto: "compress"),
                    srcset: "#{page.logo.url(w: 230,
                      h: 460,
                      fit: 'max',
                      auto: 'compress')} 480w,
                    #{page.logo.url(w: 230,
                      h: 460,
                      fit: 'max',
                      auto: 'compress')} 844w"},
                  class: "lazyload img-fluid",
                  alt: page.logo.alt

.py-5
  .container
    .mt-lg-3.mb-4.mb-lg-0
      = partial "partials/section-title",
        locals: {title: t("articles_section_title")}
    = partial "partials/cards-horizontal-list",
      locals: {items: page.articles.take(3),
      hide_image: false,
      hide_tags: true,
      btn_url: dato.department_articles_index}

  .container
    = partial "partials/cards-horizontal-list",
      locals: {title: t("press_releases_section_title"),
      items: page.press_releases.take(3),
      hide_tags: true,
      btn_url: dato.department_press_releases_index}

  .container
    = partial "partials/cards-horizontal-list",
      locals: {title: t("public_announcements_title"),
      items: page.announcements.take(3),
      btn_url: dato.department_announcements_index}

- if page.focus_elements.any?
  = partial "partials/blocks/block_focus_highlight",
    locals: {items: page.focus_elements}

.lightgrey-bg-a2
  .container
    = partial "partials/flags",
      locals: {flags: page.sections}

= partial "partials/numbers", locals: {numbers: page.numbers}
