- content_for(:head)
  == dato_meta_tags(page)

= partial "partials/page-header", locals: {page: page, classes: "bg-light"} do
    = content_for :aside
      - image = page.photo
      .text-center
          / FIXME : fare partial imamgine
          figure.figure
            = image_tag image.lqip_data_url(w: 10, h: 6, fit:'crop'),
              data: {'sizes': '100vw',
                'src': image.url(w: 1000, h: 600, fit:'crop', auto:'compress'),
                'srcset': "#{image.url(w: 480, h: 288, fit:'crop', auto:'compress')} 480w,
                #{image.url(w: 719, h: 432, fit:'crop', auto:'compress')} 719w,
                #{image.url(w: 1000, h: 600, fit:'crop', auto:'compress')} 1023w,
                #{image.url(w: 666, h: 400, fit:'crop', auto:'compress')} 1500w"},
              class: "lazyload figure-img img-fluid",
              alt: image.alt,
              title: image.title

    = content_for :col_one
      = partial "partials/column-title", locals: {title: t("deepen")}

.py-5.lightgrey-bg-c1
  .container
    = partial "partials/section-title", locals: {title: t("articles_section_title")}

    = partial "partials/featured-news", locals: {featured_items: dato.minister_page.featured_articles}

    = partial "partials/cards-horizontal-list",
      locals: {items: dato.minister_page.articles.take(3),
      hide_image: true,
      hide_tags: true,
      show_item_type: true,
      btn_url: dato.minister_articles_index}

    = partial "partials/cards-horizontal-list",
      locals: {title: t("press_releases_section_title"),
      items: dato.minister_page.press_releases.take(3),
      hide_tags:true,
      btn_url: dato.minister_press_releases_index}

    = partial "partials/cards-horizontal-list",
      locals: {title: t("participations_section_title"),
      items: dato.minister_page.participations.take(3),
      hide_tags:true,
      btn_url: dato.minister_participations_index}
