javascript:
  window.location.href = "/"

ruby:
  section_titles = [
    t("articles_section_title"),
    t("press_releases_section_title"),
    (page.video_section_title if page.video_section.any?),
    t("participations_section_title"),
    t("interviews_section_title")
  ]

- content_for(:head)
  == proxy_dato_meta_tags(page)

- if page.present?
  .pb-5.lightgrey-bg-a2.mid-section-border-above
    .container-xl.pb-5.text-center.text-sm-start
      .row
        .col-12.order-1
          = partial "partials/breadcrumb",
            locals: {page: page}

        .offset-lg-1.col-lg-6.col-md-8.order-3.order-md-2
          .row
            .col-md-9
              = partial "partials/headers/main-titles",
                locals: {page: page}

          = partial "partials/headers/subpages-menu",
            locals: {subs: visible_fl_pages(dato.minister_subpages)}

        .col-md-4.order-2.order-md-3.mb-5.mb-md-0
          .px-5.px-md-0
            - image = page.photo
            .text-center
              figure
                = proxy_image_tag placeholder_url(image, {w: 10, h: 10,
                  fit: "crop"}), data: {sizes: "100vw",
                    src: image.url(w: 920, h: 920,
                    fit: "crop", auto: "compress"),
                    srcset: "#{image.url(w: 660, h: 660,
                      fit: 'crop', auto: 'compress')} 480w,
                      #{image.url(w: 920, h: 920,
                      fit: 'crop', auto: 'compress')} 844w,
                      #{image.url(w: 444, h: 444,
                      fit: 'crop', auto: 'compress')} 1090w,
                      #{image.url(w: 820, h: 820,
                      fit: 'crop', auto: 'compress')} 1091w"},
                  class: "lazyload rounded-circle d-block w-100 h-100",
                  alt: image.alt

              = partial "partials/minister-socials",
                locals: {page: page}

._content
  = partial "partials/sticky-navs/page-sections",
    locals: {sections: section_titles}

  .container-xl.pt-3
    .pt-5.pb-4
      = partial "partials/section-title",
        locals: {title: t("articles_section_title"),
          is_anchor: true}

    = partial "partials/featured-news",
      locals: {featured_items: dato.minister_page.featured_articles}

    = partial "partials/cards-horizontal-list",
      locals: {items: dato.minister_page.articles.take(3),
      hide_image: false,
      hide_tags: true,
      btn_url: dato.minister_articles_index}

    = partial "partials/cards-horizontal-list",
      locals: {title: t("press_releases_section_title"),
      title_is_anchor: true,
      items: dato.minister_page.press_releases.take(3),
      hide_tags: true,
      btn_url: dato.minister_press_releases_index}

  - if dato.minister_page.video_section.any?
    .lightgrey-bg-a2
      .container-xl.pt-3
        .pt-5
          = partial "partials/section-title",
          locals: {title: dato.minister_page.video_section_title,
            is_anchor: true}
        .pt-4.pt-lg-5
          = partial "partials/video-many-columns",
            locals: {items: dato.minister_page.video_section.take(2)}
        .row.mt-2
          .my-5.col-12.pb-4.text-center
            = partial "partials/button",
            locals: {btn_url: dato.videos_index,
              label: t("see_more")}

  .container-xl.pt-3
    = partial "partials/cards-horizontal-list",
      locals: {title: t("participations_section_title"),
      title_is_anchor: true,
      items: dato.minister_page.participations.take(3),
      hide_tags: true,
      btn_url: dato.minister_participations_index}

    = partial "partials/cards-horizontal-list",
      locals: {title: t("interviews_section_title"),
      title_is_anchor: true,
      items: dato.minister_page.interviews,
      special_subtitle: true,
      unequal_height: true,
      btn_url: dato.minister_interviews_index}
