// Utils
.text-white-80 {
  color: rgba(255, 255, 255, .8) !important;
}

.text-shadow-green {
  text-shadow: 0 0 2px rgba(0, 176, 179, 0.8);
}

.max-w-40 {
  max-width: 40rem !important;
}

.max-h-80 {
  max-height: 80px;
}

.max-h-240 {
  max-height: 240px;
}

.bg-radial-cyan {
  background: radial-gradient(100% 100% at 50% 0%, #FFF 0%, #0BD9D3 100%);
}

.bg-radial-blue {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230066cc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
  radial-gradient(100% 100% at 50% 0%, #0073D1 0%, #00266B 100%);
}

.bt-alpha-2 {
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.br-alpha-2 {
  border-right: 1px solid rgba(255, 255, 255, .2);
}

// language
.it:lang(it), .en:lang(en) {
  font-weight: bold;
}

// Divider
.innovation-divider {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;

  &--mask {
    overflow: hidden;
    height: 16px;

    &:after {
      content: '';
      display: block;
      margin: -32px auto 0;
      width: 100%;
      height: 32px;
      border-radius: 125px / 12px;
      box-shadow: 0 0 8px #CCC;
    }
  }
}

.innovation-section-head {
  color: #fff;
  padding: 6rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    content: '';
    background-color: rgba(0, 176, 179, 0.4);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230066cc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &.innovation-section-head--repubblica-digitale {
    &::before {
      background-color: rgba(0, 89, 179, 0.6);
    }
  }

  &.innovation-section-head--concessione-patrocini {
    &::before {
      background-color: rgba(0, 89, 179, 0.6);
    }
  }
}

.hero-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.hero-logo {
  max-height: 48px;
  @media (min-width: 992px) {
    max-height: 72px;
  }
}

.project-image {
  //filter: sepia(1) hue-rotate(170deg);
  background-color: transparent;
}

.project-logo {
  height: 80px;
  width: 50%;
  object-fit: contain;
  transition: .2s ease all;

  &:hover {
    transform: scale(0.9);
  }
}

.project-avatar {
  transition: .2s ease all;

  &:hover {
    transform: scale(0.9);
  }
}

.project-intro {
  position: relative;
  background-color: #F0F6FC;
  overflow: hidden;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);

  &::before {
    content: ' ';
    background-color: #f2f7fc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230066cc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &--logo {
    z-index: 2;
  }

  &--print {
    display: inline;
    position: absolute;
    z-index: 0;
    font-size: 16rem;
    font-weight: 900;
    line-height: 12rem;
    letter-spacing: -0.8rem;
    bottom: -0.5rem;
    color: #66A5E3;
    user-select: none;
    text-transform: uppercase;
    opacity: 0.05;
  }
}

.responsive-embed {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 8px;

  & iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.card-hero {
  .card {
    &.card-bg {
      background-color: rgba(255, 255, 255, .8);
      transition: background-color 0.2s ease;
      margin-left: 0;
      margin-right: 0;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }

    /*&::after {
      margin-top: 0;
      margin-left: 0;
    }*/

    .card-body {
      padding: 16px;
    }
  }
}

#jobsarchive-collapse {
  &[aria-expanded='false'] {
    .seeall {
      display: inline;
    }

    .hideall {
      display: none;
    }
  }

  &[aria-expanded='true'] {
    .seeall {
      display: none;
    }

    .hideall {
      display: inline;
    }
  }
}

iframe {
  border: 1px solid #5c6f82;
}

// Avoid layout breaking below 360px
.it-brand-text h2 {
  @media (max-width: 360px) {
    display: none;
  }
}

.img-cover {
  object-fit: cover;
}

.modal .modal-dialog .modal-content .modal-body {
  ul, ol {
    font-size: .88889rem;
  }
}

.indagineCovid19_container {
  width: 100%;
  text-align: center;
}

.indagineCovid19_box {
  margin: 0 auto;
  background-color: #fff2cc;
  border: 1px solid black;
  h5 {
    margin: .5em 0 .5em 0;
  }
}

.indagineCovid19_box-noBorder {
  margin: 0 auto;
  text-align: left;
  h6 {
    margin: 1em 0 .5em 0;
  }
  iframe {
    border: 0;
    background: #f7f7f7;
    padding-top: 3em;
  }
}
