{% assign pages_in_other_langs = site.pages | where: "ref", page.ref | sort: 'lang' | reverse %}
{% assign posts_in_other_langs = site.posts | where: "ref", page.ref | sort: 'lang' | reverse %}

{% if pages_in_other_langs.size > 0 %}
<div class="nav-item dropdown br-alpha-2">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
    <span>{{ page.lang | upcase }}</span>
    <svg class="icon d-none d-lg-block">
      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
    </svg>
  </a>
  <div class="dropdown-menu">
    <div class="row">
      <div class="col-12">
        <div class="link-list-wrapper">
          <ul class="link-list">
            {% for linked_page in pages_in_other_langs %}
            <li><a class="list-item {{ linked_page.lang }}{% if linked_page.lang == page.lang %} active{% endif %}" href="{{ site.baseurl }}{{ linked_page.url }}"><span>{{ linked_page.lang | upcase }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if posts_in_other_langs.size > 0 %}
<div class="nav-item dropdown" style="border-right: 1px solid rgba(255,255,255,.2);">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
    <span>{{ page.lang | upcase }}</span>
    <svg class="icon d-none d-lg-block">
      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
    </svg>
  </a>
  <div class="dropdown-menu">
    <div class="row">
      <div class="col-12">
        <div class="link-list-wrapper">
          <ul class="link-list">
            {% for linked_post in posts_in_other_langs %}
            <li><a class="list-item {{ linked_post.lang }}{% if linked_post.lang == page.lang %} active{% endif %}" href="{{ site.baseurl }}{{ linked_post.url }}"><span>{{ linked_post.lang | upcase }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
