{% comment %}
Le pagine che vengono incluse in questo menù sono un sottoinsieme di tutte le pagine del sito che:
- hanno la stessa lingua della pagina corrente
- hanno l'attributo "order" valorizzato
- hanno l'attributo "child_of_ref" non valorizzato (è un sottomenu)
{% endcomment %}

{% assign current_lang_menu_pages = site.pages | where: "lang", page.lang | where_exp: "page", "page.order != nil" | where_exp: "page", "page.in_evidenza == nil" | where_exp: "page", "page.child_of_ref == nil" | sort: "order" %}
{% assign current_lang_in_evidenza_pages = site.pages | where: "lang", page.lang | where_exp: "page", "page.in_evidenza != nil" | sort: "order" %}
<div class="it-nav-wrapper">
  <div class="it-header-center-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">
            <div class="it-brand-wrapper">
              <a href="{{ site.baseurl }}/{{ page.lang }}/">
                <img class="icon" src="{{ site.baseurl }}{{ site.data.t.icon-repubblica }}" alt="{{ site.data.t.icon-repubblica-alt[page.lang] }}">
                <img class="icon innovation-main-icon" src="{{ site.baseurl }}{{ site.data.t.icon-main }}" alt="{{ site.data.t.icon-main-alt[page.lang] }}">
                <div class="it-brand-text pr-0">
                  <h2 class="innovation-main-title">
                    {{ site.data.t.name-html[page.lang]}}
                  </h2>
                  {% comment %}<h3 class="d-none d-md-block">{{ site.data.t.description[page.lang] }}</h3>{% endcomment %}
                </div>
              </a>
            </div>
            <div class="it-right-zone">
              <div class="it-socials d-none d-md-flex">
                <span>{{ site.data.t.social-intro[page.lang] }}</span>
                <ul>
                  {% for social-link in site.data.t.social-links[page.lang] %}
                  <li class="list-inline-item">
                    <a href="{{ site.baseurl }}{{ social-link[1].url }}" title="{{ social-link[1].name }}" target="_blank" rel="noopener noreferrer">
                      <svg class="icon">
                        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ social-link[1].name | downcase }}"></use>
                      </svg>
                      <span class="sr-only">{{ social-link[1].name }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% comment %}
              <!-- Search button -->
              <div class="it-search-wrapper">
                <span class="d-none d-md-block">Cerca</span>
                <a class="search-link rounded-icon" href="#" aria-label="Cerca">
                  <svg class="icon">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                  </svg>
                </a>
              </div>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-header-navbar-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg has-megamenu">
            <button class="custom-navbar-toggler" type="button" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation" data-target="#main-navigation">
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
              </svg>
            </button>
            <div class="navbar-collapsable" id="main-navigation">
              <div class="overlay"></div>
              <div class="close-div sr-only">
                <button class="btn close-menu" type="button">
                  <svg class="icon">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
                  </svg>
                </button>
              </div>
              <div class="menu-wrapper">
                <ul class="navbar-nav">
                  {% for menu_page in current_lang_menu_pages %}
                  {% comment %}
                  Le pagine che vengono incluse in questo sottomenù sono un sottoinsieme di tutte le pagine del sito
                  che:
                  - hanno la stessa lingua della pagina corrente
                  - hanno l'attributo "order" valorizzato
                  - hanno l'attributo "child_of_ref" uguale a `menu_page.ref` attuale (sono quindi figlie di `menu_page`)
                  {% endcomment %}
                  {% assign current_lang_menu_child_pages = site.pages | where: "lang", page.lang | where_exp: "page", "page.order != nil" | where: "child_of_ref", menu_page.ref | sort: "order"%}
                  {% if current_lang_menu_child_pages.size == 0 %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{{menu_page.url}}"><span>{{ menu_page.title_short | default: menu_page.title }}</span></a>
                  </li>
                  <li><span class="divider"></span></li>
                  {% else %}
                  <li class="nav-item dropdown{% if menu_page.megamenu != nil %} megamenu{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                      <span>{{ menu_page.title_short | default:menu_page.title }}</span>
                      <svg class="icon icon-xs">
                        <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand">
                        </use>
                      </svg>
                    </a>
                    <div class="dropdown-menu">
                      {% if menu_page.megamenu != nil %}
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12">
                              <h3 class="it-heading-megacolumn no_toc">{{ menu_page.title_short | default:menu_page.title }}</h3>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-lg-4">
                              <div class="link-list-wrapper">
                                <ul class="link-list">
                                  {% for menu_child_page in current_lang_menu_child_pages limit:4 %}
                                  <li><a class="list-item" href="{{ site.baseurl }}{{menu_child_page.url}}"><span>{{ menu_child_page.title_short | default:menu_child_page.title }}</span></a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                            <div class="col-12 col-lg-4">
                              <div class="link-list-wrapper">
                                <ul class="link-list">
                                  {% for menu_child_page in current_lang_menu_child_pages limit:4 offset:4 %}
                                  <li><a class="list-item" href="{{ site.baseurl }}{{menu_child_page.url}}"><span>{{ menu_child_page.title_short | default:menu_child_page.title }}</span></a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                            <div class="col-12 col-lg-4">
                              <div class="link-list-wrapper">
                                <ul class="link-list">
                                  {% for menu_child_page in current_lang_menu_child_pages limit:4 offset:8 %}
                                  <li><a class="list-item" href="{{ site.baseurl }}{{menu_child_page.url}}"><span>{{ menu_child_page.title_short | default:menu_child_page.title }}</span></a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <div class="link-list-wrapper">
                        <div class="row">
                          <div class="col-12">
                            <h3 class="it-heading-megacolumn no_toc">{{ menu_page.title_short | default:menu_page.title }}</h3>
                          </div>
                        </div>
                        <ul class="link-list">
                          {% comment %}
                          <li><a class="list-item"
                                 href="{{ site.baseurl }}{{menu_page.url}}"><span>{{ menu_child_page.title_short | default:menu_child_page.title }}</span></a></li>
                          <li><span class="divider"></span></li>
                          {% endcomment %}
                          {% for menu_child_page in current_lang_menu_child_pages %}
                          <li><a class="list-item"
                                 href="{{ site.baseurl }}{{menu_child_page.url}}"><span>{{ menu_child_page.title_short | default:menu_child_page.title }}</span></a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endif %}
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
                <ul class="navbar-nav navbar-secondary">
                  {% for menu_page in current_lang_in_evidenza_pages %}
                  <li class="nav-item">
                    <a class="nav-link text-uppercase font-weight-semibold" href="{{ site.baseurl }}{{menu_page.url}}"><span>{{ menu_page.title_short }}</span></a>
                  </li>
                  {% endfor %}
                  {% comment %}
                  <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">{{ site.data.t.section-news-title[page.lang] }}</a>
                  </li>
                  {% assign posts=site.posts | where:"lang", page.lang %}
                  {% for post in posts limit:3 %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{{ post.url }}"><span class="font-weight-semibold">{{ post.title }}</span></a>
                  </li>
                  {% endfor %}
                  {% endcomment %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
