{% assign piano_operativo_punti = site.data.2025_piano_operativo.punti %}
{::options auto_id="false" /}

<div id="punti-accordion">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 id="le-azioni" class="mt-4">Le azioni</h2>
      </div>
    </div>
    <div class="row">
      {%- for punto in piano_operativo_punti -%}
      <div class="col-12 col-lg-6">
        <div class="card no-after shadow my-2 {% if punto.descrizione %}{%else%}card--disabled{%endif%}">
          <div class="card-toggle" {% if punto.descrizione %}data-toggle="collapse" data-target="#collapse-{{ forloop.index0 }}" aria-expanded="false" aria-controls="collapse-{{ forloop.index0 }}"{% endif %}>
            <figure class="overlay-wrapper my-0">
              <img src="{{ site.baseurl }}/assets/images/italia-2025/{{ punto.immagine }}" alt="Immagine" class="img-fluid">
              <figcaption class="overlay-panel overlay-panel-fullheight overlay-black">{% if punto.descrizione %}<a href="{{ punto.link }}" class="text-white" target="_blank" style="z-index: 100" onclick="event.stopPropagation();">{{ punto.azione }}</a>{%else%}<span class="sr-only">{{ punto.azione }}</span>{% endif %}</figcaption>
            </figure>
                <div class="card-img-overlay text-white">
                  <h4 class="card-title">{{ punto.titolo }}</h4>
                  <p class="card-text small">{{ punto.descrizione_short }}</p>
                </div>
            </div>
          <div class="row">
            <div class="col-12 text-right">
              <p class="small justify-content-center align-self-center d-inline-block">
                {% if punto.descrizione %}
                <a class="read-more read-more--relative mx-3 mt-2 collapsed" href="#" data-toggle="collapse" data-target="#collapse-{{ forloop.index0 }}" aria-expanded="false" aria-controls="collapse-{{ forloop.index0 }}">
                  <span class="read-more__read">
                    <span class="text">Leggi di più</span>
                    <svg class="icon">
                      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                    </svg>
                  </span>
                  <span class="read-more__close">
                    <span class="text">Chiudi</span>
                    <svg class="icon">
                      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
                    </svg>
                  </span>
                </a>
                {% else %}
                <span class="read-more read-more--relative mx-3 mt-2 d-inline-block">Coming soon</span>
                {% endif %}
              </p>
            </div>
          </div>
          {% if punto.descrizione %}
          <div class="row">
            <div class="col-12">
              <div id="collapse-{{ forloop.index0 }}" class="collapse" aria-labelledby="headingOne" data-parent="#punti-accordion">
                <div class="row">
                  <div class="col-12">
                    <h3 class="p-3">{%- if punto.titolo_ext -%}{{ punto.titolo_ext }}{%- else -%}{{ punto.titolo }}{%- endif %}</h3>
                    <div class="my-2 p-3 x-small">{{ punto.descrizione | markdownify }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img class="d-inline-block my-5" src="{{ site.baseurl }}/assets/images/logo-2025.jpg" alt="Logo Italia 2025" style="max-width:200px">
    </div>
  </div>
</div>

