---
layout: default
---
{% if page.intro != nil %}
  {% include pages/section-head.html %}
{% endif %}

<div class="container my-2">
  <div class="row">
    <div class="col-12">
      <div class="mx-md-3">
        {%- include breadcrumbs.html -%}
      </div>
    </div>
  </div>
</div>

{% comment %}This is needed for toc.html {% endcomment %}
{% assign section = breadcrumbs[0] | default: page %}

{% if page.fluid %}
<div>
  {% if page.intro == nil %}
  <h1>{{ page.title }}</h1>
  {% if page.description != nil %}<p class="lead">{{ page.description }}</p>{% endif %}
  {% endif %}
  {{ content }}
</div>
{% else %}
<div class="container my-4">
  <div class="row">
    <div class="col{% if page.no_site_toc == nil %} col-lg-8{% endif %}">
      <div class="mx-md-3">
        {% if page.intro == nil %}
        <h1>{{ page.title }}</h1>
        {% if page.description != nil %}<p class="lead">{{ page.description }}</p>{% endif %}
        {% endif %}
        {{ content }}
      </div>
    </div>
    {% if page.no_site_toc == nil %}
    <div class="col-12 col-lg-4">
      {% include toc.html %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

