---
layout: default
---

<div class="container my-2">
  <nav class="breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a><span class="separator">&gt;</span></li>
      {% assign news-page = site.pages | where: "lang", page.lang | where: "ref", "notizie" | first %}
      <li class="breadcrumb-item"><a href="{{ news-page.url | relative_url }}">{{ news-page.title }}</a><span class="separator">&gt;</span></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</div>
<article class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon"></div>
          <div class="etichetta">
            <svg class="icon">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
            </svg>
            <span>{% include date.html date=page.date %}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            <div class="card-text">{{ content }}</div>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
      <h4>Altre notizie</h4>
      {% assign localized_posts = site.posts | where: "lang", page.lang %}
      {% for post in localized_posts limit: 3 %}
        {% if post.title != page.title %}
        {% include post-teaser.html %}
        {% endif %}
      {% endfor %}
      <a class="btn text-primary" href="{% link it/notizie.md %}">Vedi tutte le Notizie &#8594;</a>
    </div>
  </div>
</article>
