- img = block.image

- if img.present?
  .mb-5
    figure.m-0
      = proxy_image_tag placeholder_url(img, {w: 10, h: 6, fit: "max"}),
          data: {sizes: "100vw",
            src: img.url(w: 700, h: 1000, fit: "max", auto: "compress"),
            srcset: "#{img.url(w: 450,
              h: 700,
              fit: 'max',
              auto: 'compress')} 480w,
              #{img.url(w: 750,
                h: 950,
                fit: 'max',
                auto: 'compress')} 632w,
              #{img.url(w: 960,
                h: 900,
                fit: 'max',
                auto: 'compress')} 844w,
              #{img.url(w: 700,
                h: 1000,
                fit: 'max',
                auto: 'compress')} 1091w,
              #{img.url(w: 1000,
                h: 1500,
                fit: 'max',
                auto: 'compress')} 1320w"},
          class: "lazyload d-block w-100 m-0",
          alt: img.alt
