- compact_columns ||= true
- col_lg_layout = compact_columns ? "col-lg-6" : "col-lg-3"

.container.mb-5
  .row
    - block.images_logo.each do |item|
      .col-6.col-md-4 class="#{col_lg_layout}"
        .mb-5
          .mid-fixed-height--300.d-flex.justify-content-center.flex-column
            figure.figure.m-0.mh-100
              = proxy_image_tag placeholder_url(item, {w: 10,
                h: 10,
                fit: "max"}),
                  data: {sizes: "100vw",
                    src: item.url(w: 150,
                      h: 250,
                      fit: "max",
                      auto: "compress"),
                    srcset: "#{item.url(w: 150,
                        h: 250,
                        fit: 'max',
                        auto: 'compress')} 480w,
                      #{item.url(w: 150,
                        h: 250,
                        fit: 'max',
                        auto: 'compress')} 632w"},
                  class: "lazyload figure-img img-fluid m-0 pr-0 mh-100",
                  alt: item.alt

          p: small.fw-semibold = item.title
