ruby:
  if image_right
    image_position = "order-lg-2"
    text_position = "order-lg-1"
  else
    image_position = "order-lg-1"
    text_position = "order-lg-2"
  end
  if image_mobile_top
    img_mobile = "order-1"
    txt_mobile = "order-2"
  else
    img_mobile = "order-2"
    txt_mobile = "order-1"
  end

  image_col = %(d-flex justify-content-center col-lg-6 p-0)
  text_col = %(col-12 col-lg-6 px-0 align-self-center)

  srcset_str = "#{block.image.url(w: 450,
                  h: 330,
                  fit: 'clip',
                  auto: 'compress')} 480w,
                #{block.image.url(w: 600,
                  h: 333,
                  fit: 'clip',
                  auto: 'compress')} 632w,
                #{block.image.url(w: 560,
                  h: 333,
                  fit: 'clip',
                  auto: 'compress')} 844w,
                #{block.image.url(w: 700,
                  h: 400,
                  fit: 'clip',
                  auto: 'compress')} 1091w,
                #{block.image.url(w: 700,
                  h: 400,
                  fit: 'clip',
                  auto: 'compress')} 1320w"

.container.py-lg-5 class="#{txt_mobile == "order-2" ? "pt-5" : "py-5"}"
  .row
    div class="#{image_col} #{img_mobile} #{image_position}"
      figure.d-flex.flex-grow-1.align-items-center.justify-content-center
        - image = block.image
        = proxy_image_tag placeholder_url(image, {w: 10,
            h: 6,
            fit: "clip"}),
            data: {sizes: "100vw",
              src: block.image.url(w: 700,
                  h: 400,
                  fit: "clip",
                  auto: "compress"),
              srcset: srcset_str},
            class: "lazyload d-block _mid-first_flag_img_width",
            alt: block.image.alt

    div class="#{text_col} #{txt_mobile} #{text_position}"
      .col-lg-10.offset-lg-2.px-0.py-lg-5.my-4
        .px-2.px-lg-0.pt-4.pt-lg-0.text-center.text-lg-start
          h2.h6.mid-text--large.text-uppercase.fw-semibold.p-lg-0
            = block.pre_title

          h3.d-lg-block.h2.pt-2.pb-3
            = block.title

          .mt-3.mt-lg-4.text-center.text-lg-start.pb-5.pb-lg-0.mb-3.mb-lg-0
            - html_class = "btn text-uppercase btn-primary"
            = partial "partials/links/#{block.link.item_type.api_key}",
              locals: {item: block.link, html_class: html_class}
