ruby:
  dark = block.background == "dark"
  background = dark ? "bg-primary text-white" : "primary-bg-a1"
  button_background = dark ? "bg-dark" : ""
  img_style = "max-width:100%; object-fit:scale-down; max-height:100px"

.card-wrapper
  .card.card-img.no-after
    .px-md-5.py-4.py-md-0.mb-5 class=background
      .row
        .col-md-2.px-md-0.d-md-flex.align-items-center
          .d-none.d-md-block
            .img-responsive-wrapper
                figure.my-0
                  - image = block.thumbnail
                  = proxy_image_tag placeholder_url(image, {w: 10,
                      h: 10,
                      fit: "clip"}),
                    data: {sizes: "100vw",
                      src: block.thumbnail.url(w: 100,
                        h: 100,
                        fit: "clip", auto: "compress"),
                      srcset: "#{block.thumbnail.url(w: 120,
                          h: 120,
                          fit: 'clip',
                          auto: 'compress')} 480w,
                        #{block.thumbnail.url(w: 155,
                          h: 250,
                          fit: 'clip',
                          auto: 'compress')} 632w"},
                    class: "lazyload d-block",
                    style: img_style,
                    alt: block.thumbnail.alt
          .d-md-none
            .mx-5.mt-4
              .d-flex.align-items-center.justify-content-center
                figure
                  - image = block.thumbnail
                  = proxy_image_tag placeholder_url(image, {w: 10,
                      h: 10,
                      fit: "clip"}),
                    data: {sizes: "100vw",
                      src: block.thumbnail.url(w: 100,
                        h: 100,
                        fit: "clip", auto: "compress"),
                      srcset: "#{block.thumbnail.url(w: 120,
                          h: 120,
                          fit: 'clip',
                          auto: 'compress')} 480w,
                        #{block.thumbnail.url(w: 155,
                          h: 250,
                          fit: 'clip',
                          auto: 'compress')} 632w"},
                    class: "lazyload d-block",
                    style: "height: 136px; width: 208px; object-fit: cover;",
                    alt: block.thumbnail.alt
        .col-md-10.d-md-flex.align-items-md-between.mt-3.mt-md-0
          .m-4.ms-md-0.d-flex.flex-column.justify-content-center
            h3.mid-caption--lead.fw-semibold.text-center.text-md-start
              = block.title
            .d-none.d-md-block
              p.mid-caption--large.pb-0.mb-0
                = block.description
            .d-md-none
              p.mid-caption--xlarge.pb-0.mb-0.text-center
                = block.description

          .ms-md-auto.d-flex.align-items-center.justify-content-center
            .m-4.m-md-0 class=button_background
              - html_class = "btn btn-primary"
              = partial "partials/links/#{block.link.item_type.api_key}",
                locals: {item: block.link, html_class: html_class}
