- image = block.image ||= nil

- if image.present?
  .my-3 class=(block.big.present? ? "" : "col-9")
    figure.figure
      = image_tag image.lqip_data_url(w: 10, h: 6, fit:'crop'),
        data: {'sizes': '100vw',
          'src': image.url(w: 1000, h: 600, fit:'crop', auto:'compress'),
          'srcset': "#{image.url(w: 480, h: 288, fit:'crop', auto:'compress')} 480w,
          #{image.url(w: 719, h: 432, fit:'crop', auto:'compress')} 719w,
          #{image.url(w: 1000, h: 600, fit:'crop', auto:'compress')} 1023w,
          #{image.url(w: 666, h: 400, fit:'crop', auto:'compress')} 1500w"},
        class: "lazyload figure-img img-fluid",
        alt: image.alt,
        title: image.title
