- if block.image.present?
  - img = block.image
  ruby:
    column_class = if compact_columns || block.big
                     "col-12"
                   else
                     "col-lg-9"
                   end
  .container.mb-5
    .row.my-3
      .px-0.px-md-3 class=column_class
        figure.m-0
          = proxy_image_tag img.lqip_data_url(w: 10, h: 6, fit: "max"),
              data: {"sizes": "100vw",
                "src": img.url(w: 700, h: 1000, fit: "max", auto: "compress"),
                "srcset": "#{img.url(w: 450,
                  h: 700,
                  fit: 'max',
                  auto: 'compress')} 480w,
                  #{img.url(w: 600,
                    h: 950,
                    fit: 'max',
                    auto: 'compress')} 632w,
                  #{img.url(w: 560,
                    h: 900,
                    fit: 'max',
                    auto: 'compress')} 844w,
                  #{img.url(w: 700,
                    h: 1000,
                    fit: 'max',
                    auto: 'compress')} 1091w,
                  #{img.url(w: 1000,
                    h: 1500,
                    fit: 'max',
                    auto: 'compress')} 1320w"},
              class: "lazyload d-block w-100 m-0",
              alt: img.alt
