- page ||= nil
- subs ||= nil
- image = page.image

- if page.present?
  .text-white.position-relative style="background-color: #0073E6;"
    .container.text-center.text-sm-left
      .row
        .col-12.col-lg-5.pb-2.pb-lg-5
          = partial "partials/breadcrumb",
            locals: {page: page,
              html_class: "text-white"}

          .offset-lg-1.col-12.col-lg-11.mb-0.mb-md-4
            = partial "partials/headers/main-titles", locals: {page: page}

        .col-12.col-lg-7.mid-absolute-column.mb-lg-0.pr-lg-0.px-0
          - if page.image.present?
            = proxy_image_tag page.image.url(w: 10, h: 10,
              fit: "clip"), data: {sizes: "100vw",
                src: page.image.url(w: 1200, h: 1200,
                fit: "clip", auto: "compress"),
                srcset: "#{page.image.url(w: 480, h: 350,
                fit: 'clip', auto: 'compress')} 480w,
                #{page.image.url(w: 1090, h: 1090,
                fit: 'clip', auto: 'compress')} 1090w,
                #{page.image.url(w: 1300, h: 364,
                fit: 'clip', auto: 'compress')} 1320w"},
              class: "lazyload w-100 h-100 m-0",
              style: "object-fit: cover",
              alt: page.image.alt
  /.it-hero-wrapper.it-overlay style="min-height: 364px;"
    .img-responsive-wrapper
      .img-responsive
        .img-wrapper
          = proxy_image_tag image.url(w: 10, h: 6, fit: "max"),
            data: {sizes: "100vw",
              src: image.url(w: 1000,
                h: 640,
                fit: "max",
                auto: "compress"),
              srcset: "#{image.url(w: 1000,
                h: 640,
                fit: 'max',
                auto: 'compress')} 480w,
              #{image.url(w: 1300,
                h: 700,
                fit: 'max',
                auto: 'compress')} 719w,
              #{image.url(w: 1000,
                h: 640,
                fit: 'max',
                auto: 'compress')} 1023w"},
            class: "lazyload d-block w-100",
            alt: image.alt
          /= proxy_image_tag page.image.url(w: 10, h: 10,
            fit: "clip"), data: {sizes: "100vw",
              src: page.image.url(w: 1200, h: 1200,
              fit: "clip", auto: "compress"),
              srcset: "#{page.image.url(w: 360, h: 274,
              fit: 'clip', auto: 'compress')} 360w,
              #{page.image.url(w: 480, h: 350,
              fit: 'clip', auto: 'compress')} 480w,
              #{page.image.url(w: 1090, h: 364,
              fit: 'clip', auto: 'compress')} 1090w,
              #{page.image.url(w: 1300, h: 364,
              fit: 'clip', auto: 'compress')} 1320w"},
            class: "lazyload w-100 h-100 m-0",
            style: "object-fit: cover",
            alt: page.image.alt
    .container.text-center.text-sm-left
      .row
        .col-12
          .col-lg-5.pb-5
            = partial "partials/breadcrumb",
              locals: {page: page,
                html_class: "text-white"}

            /.offset-lg-1.col-12.col-lg-11.mb-0.mb-md-4
              .text-white
                = partial "partials/headers/main-titles", locals: {page: page}

  .lightgrey-bg-a2
    .container.pt-5.pb-4.py-lg-5.text-center.text-sm-left
      .col-12
        .row
          .offset-lg-1.col-lg-6.col-md-8.mb-0.mb-lg-4
            = partial "partials/headers/subpages-menu",
              locals: {subs: subs,
              hide_caption: false,
              right_col_longer: false}
            .pt-4
              = partial "partials/column-title",
                  locals: {title: t("ontology.arguments")}
              - page.tags.each do |tag|
                = partial "partials/chip",
                  locals: {label: tag.name,
                    url: page_path(tag)}

          - if page.featured_title.present?
            .col-lg-5
              .px-0.pt-5.pt-lg-0
                .px-2.px-lg-0.pt-4.pt-lg-0.text-center.text-lg-left
                  h2.p-lg-0.mr-lg-4
                    .mid-text--large.text-uppercase.font-weight-semibold
                    = partial "partials/column-title",
                      locals: {title: page.featured_pre_title}

                  h3.h3.text-primary.d-lg-block.h2.pt-4.pb-3.pb-lg-4.mr-4
                    = page.featured_title

              - if page.featured_links.present?
                .mt-3.text-center.text-lg-left.pb-5.pb-lg-0.mb-3.d-flex.flex-column.d-lg-block
                  ruby:
                    first_link = page.featured_links.first
                    html_class = "btn text-uppercase"
                    first_btn_class = "btn-outline-primary mr-lg-3 mt-3 #{html_class}"
                    second_btn_class = "btn-primary mt-3 #{html_class}"
                  div.d-lg-inline-block
                    = partial "partials/links/#{first_link.item_type.api_key}",
                      locals: {item: first_link,
                      html_class: first_btn_class}
                  div.d-lg-inline-block
                    - if page.featured_links[1].present?
                      - second_link = page.featured_links[1]
                      = partial "partials/links/#{second_link.item_type.api_key}",
                        locals: {item: second_link,
                        html_class: second_btn_class}
